.sensor-device-wrap {
  position: relative;
  width: 18em;
  height: 7.5em;
  margin: 0.5em;
  border-radius: 0.35em;
  background-color: #14334B;
  color: #fff;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.device-wrap {
  position: relative;
  min-width: 18em;
  width: 90%;
  height: 10em;
  margin: 1% auto;
  border-radius: 0.35em;
  background-color: #14334B;
  color: #fff;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.device-header {
  height: 7.5em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  padding: 1em;
}
.device-icon {
  height: 5em;
  width: 5em;
  margin-right: 0.5em;
  cursor: pointer;
}
.device-content-data {
  padding: 0.5em;
  font-weight: 100;
}
.sensor-content-data {
  padding: 0 0.5em;
  font-weight: 100;
}
.device-content-data p, .sensor-content-data p, .sensor-content-data h2 {
  margin: 0;
  max-width: 10em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.device-footer {
  height: 2.5em;
  width: 100%;
  line-height: 2.5;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.device-footer-btn-wrap, .device-footer-option-wrap {
  display: inherit;
}
.device-footer-btn-wrap > .device-btn:first-child {
  border-right: 0.1em solid rgba(13, 150, 255, 0.25);
}
.device-footer-btn-wrap > .device-btn-opt:first-child {
  border-right: 0.1em solid rgba(13, 150, 255, 0.25);
}
.device-footer-btn-wrap > .device-btn-opt:last-child {
  border-left: 0.1em solid rgba(13, 150, 255, 0.25);
}
.device-btn {
  width: 4.5em;
  height: 2.5em;
  cursor: pointer;
  border: none;
  background-color: #14334B;
}
.device-btn-active {
  color: #8295A6;
  background-color: #133E5F;
  box-sizing: border-box;
  box-shadow: 0 0.1em 0.25em rgba(0, 0, 0, 0.25);
  /*-webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);*/
  -webkit-transition: background-color 0.4s ease, -webkit-transform 0.3s ease 0.1s, box-shadow 0.3s ease 0.25s;
  transition: background-color 0.4s ease, transform 0.3s ease 0.1s, box-shadow 0.3s ease 0.25s;
}
.device-btn-opt {
  position: relative;
  height: 2.5em;
  width: 6em;
  cursor: pointer;
  border: none;
  background-color: #14334B;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.device-btn-opt.success-green {
  background-color: #00E676;
}
.device-btn-opt.success-red {
  background-color: #EC3535;
}
.device-plus-btn {
  background-image: url(../../img/button/plus.png);
  background-position: 50%;
  background-repeat: no-repeat;
}
.device-plus-btn:active {
  background-image: url(../../img/button/plus-lblue.png);
}
.device-minus-btn {
  background-image: url(../../img/button/minus.png);
  background-position: 50%;
  background-repeat: no-repeat;
}
.device-minus-btn:active {
  background-image: url(../../img/button/minus-lblue.png);
}
.device-options-btn {
  width: 8em;
  height: 2.5em;
  background-color: #0D96FF;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.device-options-btn:active {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  background-color: #133E5F;
}
.set-color-btn {
  position: absolute;
  bottom: -2.5em;
  right: 0;
}
.device-options {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.5em;
  z-index: 1;
  border-radius: 0.25em;
  background-color: inherit;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.option-wrap {
  position: absolute;
  background-color: inherit;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2.5em;
  z-index: 1;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.close-device-options {
  position: absolute;
  z-index: 1;
  top: -0.5em;
  right: -0.5em;
  cursor: pointer;
  background-color: #618EAE;
  border-radius: 1em;
  padding: 0.35em;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.close-device-options:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.close-form-btn {
  outline: none;
  background: #618EAE url(../../img/button/cross-dark.png) 50% no-repeat;
  height: 1.5em;
  width: 1.5em;
  border: none;
}
.device-option-btn {
  height: 4em;
  width: 4em;
  margin: auto 0.5em;
  padding: 0.5em;
  cursor: pointer;
  border-radius: 0.5em;
  border: 0.1em solid rgba(13, 150, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.device-option-btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border: 0.1em solid rgba(13, 150, 255, 0.9);
  background-color: rgba(255, 255, 255, 0);
}
.device-option-color {
  background-image: url('../../img/device-options/light-color-off.png');
}
.device-option-color:hover {
  background-image: url('../../img/device-options/light-color.png');
}
.device-option-set-white {
  background-image: url('../../img/device-options/light-set-white-off.png');
}
.device-option-set-white:hover {
  background-image: url('../../img/device-options/light-set-white.png');
}
.device-option-set-brightness {
  background-image: url('../../img/device-options/light-brightness-off.png');
}
.device-option-set-brightness:hover {
  background-image: url('../../img/device-options/light-brightness.png');
}
.device-options-brightness {
  padding: 1em 0.5em;
}
.device-blacklisted {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.unblacklist-btn {
  position: absolute;
  bottom: 1em;
  right: 1em;
  border: 0.1em solid #558CB9;
  text-indent: 1em;
  background: transparent url(../../img/button/show.svg) 5% 50% no-repeat;
}
.device-add-to-favorites {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}
.device-add-to-favorites > label {
  opacity: 0.25;
  width: 1em;
  height: 1em;
  margin: 0;
  cursor: pointer;
  background: transparent url(../../img/button/favorite-hollow.png) 50% no-repeat;
}
.device-add-to-favorites > input:checked ~ label {
  opacity: 1;
  width: 1em;
  height: 1em;
  background: transparent url(../../img/button/favorite-white.png) 50% no-repeat;
  box-shadow: none;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.device-schedule-btn {
  position: absolute;
  top: 0.5em;
  opacity: 0.5;
  right: 2em;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.device-schedule-btn:hover {
  opacity: 1;
}
.add-schedule-dev-form {
  padding: 1em;
}
.add-schedule-dev-form > input[type="number"] {
  width: 6em;
}
.add-schedule-dev-options-wrap {
  position: absolute;
  top: 1em;
  right: 0;
}
.add-schedule-dev-option {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.devices-schedule-footer {
  position: absolute;
  bottom: -2.5em;
  background-color: inherit;
}

/* DEVICE END */


/* Shutters CSS */

.device-options-shutter {
  margin-bottom: 2em;
}
.shutter-wrap {
  position: relative;
  width: 80%;
  height: 9.5em;
  margin: 0 auto;
  background-image: url(../../img/buttons/devButtons/shutter-background.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}
.shutter-filter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  max-height: 9em;
  min-height: 0;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
  background-color: rgba(255, 255, 255, 0.8);
}
.slider {
  margin-top: -0.5em;
}
.shutter-filter img {
  z-index: 1;
  position: relative;
  top: -0.5em;
  margin: 0 auto;
  height: 1em;
  width: 7em;
  cursor: -webkit-grab;
}

/* themostat CSS */

.buttonHolder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.fullThermoActive {
  height: 22em !important;
}
.actionBtns {
  position: absolute;
  width: 100%;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.actionBtns span:nth-child(2) {
  font-size: 2.5em;
  line-height: 1em;
}
.actionBtns span:nth-child(1) p, .actionBtns span:nth-child(3) p {
  -webkit-transform: scale(2, 2);
  -ms-transform: scale(2, 2);
  transform: scale(2, 2);
  line-height: 2;
}
.round {
  border-radius: 50%;
  border: 2em solid #e3e3e3;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  cursor: pointer;
  margin: 0 0.5em;
}
.thermoSlide {
  margin: 0 auto;
  margin-top: 1em;
}
.tempTxt {
  position: absolute;
  z-index: 5;
  width: 100%;
  text-align: center;
  margin-top: -1.7em;
  font-size: 1.5em;
}
.rotatingThermo {
  position: absolute;
  top: 3em;
  left: 5.5em;
  width: 4em;
  height: 4em;
  z-index: 5;
  background-image: url(../../img/buttons/devButtons/thermoWhele.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.rs-border {
  border: 0 !important;
}
.rs-control .rs-range-color {
  background-color: #6bdff7;
}
.rs-control .rs-path-color {
  background-color: #d2e7f0;
}
.rs-control .rs-handle {
  background-color: #45c9f5;
}
.rs-control .rs-bg-color {
  background-color: white;
}

/* light brightness input */

input[type=range] {
  -webkit-appearance: none;
  margin: 0.5em auto;
  width: 100%;
  background-color: #14334B;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1.5em;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0em 0em 0em #122A3E, 0em 0em 0em #122A3E;
  background: #0D96FF;
  border-radius: 1em;
  border: 0.5em solid #122A3E;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
  border: 0em solid #000000;
  height: 1.25em;
  width: 1.25em;
  border-radius: 1.25em;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.35em;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0D96FF;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.75em;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0em 0em 0em #000000, 0em 0em 0em #0d0d0d;
  background: #0D96FF;
  border-radius: 1em;
  border: 0.5em solid #122A3E;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0em 0em 0em #000000, 0em 0em 0em #0d0d0d;
  border: 0em solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 0.8em;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 0em 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0em solid #000101;
  border-radius: 1em;
  box-shadow: 0em 0em 0em #000000, 0em 0em 0em #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0em solid #000101;
  border-radius: 1em;
  box-shadow: 0em 0em 0em #000000, 0em 0em 0em #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0em 0em 0em #000000, 0em 0em 0em #0d0d0d;
  border: 0em solid #000000;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}
@media screen and (min-width: 768px) {
  .device-wrap {
    width: 18em;
  }
}
@media screen and (min-width: 992px) {
  .device-wrap {
    margin: 1%;
  }
}
