.sensor {
    position: relative;
    height: 6em;
    width: 15em;
    background-color: #fff;
    margin: 0.5em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.sensor-img-wrap {
    padding: 0.5em;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.sensor-img {
    height: 5em;
    width: 5em;
    cursor: pointer;
}

.sensor-value {
    font-size: 2em;
    font-weight: 600;
    color: #1976dc;
}

.sensor-data-wrap {
    text-align: left;
    line-height: 1em;
    margin: 0.75em 0 0 0.5em;
}

.sensor-name {
    font-size: 0.8em;
    font-weight: 300;
    color: #757575;
}
.sensor-devices{
    height: 8em;
}
.sensor-rename {
    height: auto;
}