[Unit]
Description=NHome
After=network.target

[Service]
ExecStart=/usr/bin/node --max_semi_space_size=2 --max_old_space_size=256 --max_executable_size=192 /opt/nhome/server.js
User=nhome
Group=nhome
Restart=always
MemoryLimit=512M
EnvironmentFile=-/etc/sysconfig/nhomeserver

[Install]
WantedBy=basic.target
