<div class="all-rooms-nav">
  <!-- favorites sensors !-->
  <div class="favorites-sensors-wrap">
    <div class="info-sensor" ng-repeat="sensor in allRooms.favoriteSensors track by sensor.id" title="{{::sensor.name}}">
      <img ng-if="sensor.subtype === 'co-alarm'" src="img/sensors/co.png">
      <img ng-if="sensor.subtype === 'co2'" src="img/sensors/co2.png">
      <img ng-if="sensor.subtype === 'door' && !sensor.value" src="img/sensors/door-close.png">
      <img ng-if="sensor.subtype === 'door' && sensor.value" src="img/sensors/door-open.png">
      <img ng-if="sensor.subtype === 'humidity'" src="img/sensors/humidity.png">
      <img ng-if="sensor.subtype === 'light'" src="img/sensors/lux.png">
      <img ng-if="sensor.subtype === 'motion'" src="img/sensors/motion.png">
      <img ng-if="sensor.subtype === 'noise'" src="img/sensors/noise.png">
      <img ng-if="sensor.subtype === 'pressure'" src="img/sensors/pressure.png">
      <img ng-if="sensor.subtype === 'rain'" src="img/sensors/rain.png">
      <img ng-if="sensor.subtype === 'smoke-alarm'" src="img/sensors/smoke.png">
      <img ng-if="sensor.subtype === 'temperature'" src="img/sensors/temp.png">
      <div class="sensor-details">
        <h1>{{sensor.value}}</h1>
      </div>
    </div>
  </div>
  <!-- add room !-->
  <div class="category-wrap">
    <button type="button" class="button add-new blue-btn" ng-click="allRooms.addRoomForm = !allRooms.addRoomForm" ng-hide="allRooms.addRoomForm" title="add room"></button>
    <form ng-submit="allRooms.addRoom($event)" autocomplete="off" ng-if="allRooms.addRoomForm">
      <input type="text" placeholder="Add new room" pattern=".{3,25}" id="add-room-name" class="form-input" required title="3 to 25 characters">
    </form>
  </div>
</div>

<div class="all-rooms-view-point">
  <small class="color-transparent" ng-if="!allRooms.data.getCategories.length">You don't have any rooms, click on the + button and add one</small>
  <div ng-repeat="category in allRooms.data.getCategories" id="{{::category.id}}">
    <div class="template-nav">
      <h3 class="category-name" ng-click="categoryName = !categoryName" ng-hide="categoryName">{{category.name}}</h3>

      <!-- rename room !-->
      <form ng-submit="allRooms.changeCategoryName(category)" ng-show="categoryName" class="category-name-form">
        <input type="text" pattern=".{3,25}" required class="form-input" placeholder="Category name" ng-model="category.name">
        <button type="submit" class="button category-name-submit" ng-click="categoryName = false"></button>
        <!-- <button type="button" class="button category-name-reset" ng-click="categoryName = false"></button> -->
        <button type="reset" class="button category-name-delete" ng-click="allRooms.deleteCategory(category)">
          <i class="material-icons">delete</i>
        </button>
      </form>

      <!-- sensors !-->
      <div class="sensor-wrap">
        <div class="info-sensor" ng-repeat="sensor in allRooms[category.id].sensor track by sensor.id" title="{{::sensor.name}}">
          <img ng-if="sensor.subtype === 'co-alarm'" src="img/sensors/co.png">
          <img ng-if="sensor.subtype === 'co2'" src="img/sensors/co2.png">
          <img ng-if="sensor.subtype === 'door' && sensor.value === false" src="img/sensors/door-close.png">
          <img ng-if="sensor.subtype === 'door' && sensor.value === true" src="img/sensors/door-open.png">
          <img ng-if="sensor.subtype === 'humidity'" src="img/sensors/humidity.png">
          <img ng-if="sensor.subtype === 'light'" src="img/sensors/lux.png">
          <img ng-if="sensor.subtype === 'motion'" src="img/sensors/motion.png">
          <img ng-if="sensor.subtype === 'noise'" src="img/sensors/noise.png">
          <img ng-if="sensor.subtype === 'pressure'" src="img/sensors/pressure.png">
          <img ng-if="sensor.subtype === 'rain'" src="img/sensors/rain.png">
          <img ng-if="sensor.subtype === 'smoke-alarm'" src="img/sensors/smoke.png">
          <img ng-if="sensor.subtype === 'temperature'" src="img/sensors/temp.png">
          <div class="sensor-details">
            <h1>{{sensor.value}}</h1>
            <!--<p>{{::sensor.name}}</p>!-->
          </div>
        </div>
        <small class="color-transparent margin-auto" ng-show="allRooms[category.id].sensor.length === 0">
          You don't have sensors in this room. Go <a ui-sref="frame.devices({deviceType: 'sensor'})">assign</a>
        </small>
      </div>
      <div class="horizontal-line"></div>
    </div>
    <br>

    <small class="color-transparent" ng-show="allRooms[category.id].length === 0">This room is empty. Got to <a ui-sref="frame.devices">devices</a> and add a few</small>
    <!-- rest of devices !-->
    <div class="display-devices-row">
      <switch ng-repeat="switch in allRooms[category.id].switch track by switch.id" sinfo="switch"></switch>
      <light ng-repeat="light in allRooms[category.id].light track by light.id" linfo="light"></light>
      <thermostat ng-repeat="thermo in allRooms[category.id].thermostat track by thermo.id" tinfo="thermo"></thermostat>
      <shutter ng-repeat="shutter in allRooms[category.id].shutter track by shutter.id" shinfo="shutter"></shutter>
      <remote ng-repeat="cRemote in allRooms[category.id].remote track by cRemote.id" tvinfo="cRemote"></remote>
    </div>

    <div class="display-devices-row">
      <camera ng-repeat="camera in allRooms[category.id].camera track by camera.id" cinfo="camera"></camera>
    </div>
  </div>
</div>
