<div class="template-nav">
  <h3>Dashboard</h3>
</div>
<!-- newly added devices / devices without rooms -->
<div class="dashboard-display-wrap" ng-hide="dashboard.uncategorised.length === 0">
  <h4>Unasignes devices</h4>
  <button type="button" name="go to devices" ui-sref="frame.devices" class="button blue-btn">
    Asigne
  </button>
  <div class="display-devices-row">
    <span ng-repeat="dev in dashboard.uncategorised track by dev.id" class="most-used-dev-wrap">
      <switch ng-if="dev.type === 'switch'" sinfo="dev"></switch>
      <light ng-if="dev.type === 'light'" linfo="dev"></light>
      <thermostat ng-if="dev.type === 'thermostat'" tinfo="dev"></thermostat>
      <shutter ng-if="dev.tyoe === 'shutter'" shinfo="dev"></shutter>
      <camera ng-if="dev.type === 'camera'" cinfo="dev"></camera>
      <remote ng-if="dev.type === 'remote'" tvinfo="dev"></remote>
      <sensor ng-if="dev.type === 'sensor'" sensorinfo="dev"></sensor>
    </span>
  </div>
</div>

<!-- favorites / pindex to dashboard -->
<div class="dashboard-display-wrap">
  <h4>Favorites</h4>
  <div class="display-devices-row">
    <!-- <small class="color-transparent hidden">You don't have any favorite devices. Try clicking on star icon to add them</small> -->
    <light ng-repeat="light in dashboard.data.getDevicesObj.light | filter: {favorites: true}" linfo="light"></light>
    <switch ng-repeat="switch in dashboard.data.getDevicesObj.switch | filter: {favorites: true}" sinfo="switch"></switch>
    <thermostat ng-repeat="thermostat in dashboard.data.getDevicesObj.thermostat | filter: {favorites: true}" tinfo="thermostat"></thermostat>
    <shutter ng-repeat="shutter in dashboard.data.getDevicesObj.shutter | filter: {favorites: true}" shinfo="shutter"></shutter>
    <camera ng-repeat="camera in dashboard.data.getDevicesObj.camera | filter: {favorites: true}" cinfo="camera"></camera>
    <remote ng-repeat="tv in dashboard.data.getDevicesObj.remote | filter: {favorites: true}" tvinfo="tv"></remote>
  </div>
</div>

<!-- latest sceenes -->
<div class="dashboard-display-wrap" ng-hide="dashboard.getScenes.length === 0">
  <h4>Scenes</h4>
  <button type="button" name="go to devices" ui-sref="frame.scenes" class="button blue-btn">
    All scenes
  </button>
  <div class="display-devices-row">
    <scene ng-repeat="scene in dashboard.getScenes" scinfo="scene"></scene>
  </div>
</div>

<!-- latest schedule -->
<div class="dashboard-display-wrap" ng-hide="dashboard.getSchedules.length === 0">
  <h4>Upcoming schedules</h4>
  <button type="button" name="go to devices" ui-sref="frame.schedule" class="button blue-btn">
    All schedules
  </button>
  <div>
    <schedule ng-repeat="schedule in dashboard.getSchedules" schinfo="schedule"></schedule>
  </div>
</div>

<!-- Camera recordings -->
<div class="dashboard-display-wrap" ng-hide="dashboard.getRecordings.length === 0">
  <h4>Latest recordings</h4>
  <button type="button" name="go to devices" ui-sref="frame.security" class="button blue-btn">
    Security
  </button>
  <div class="display-devices-row">
    <cam-rec ng-repeat="rec in dashboard.getRecordings track by rec.id" camrec="rec"></cam-rec>
  </div>
</div>
