<div class="template-nav">
  <h3>Devices</h3>

  <div class="dropdown">
    <button class="button add-new-btn" id="add-new-device" role="button" data-toggle="dropdown">
      Add new device
    </button>
    <ul class="dropdown-menu add-new-device-dorpdown-menu" role="menu" aria-labelledby="add-new-device">
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="" ng-click="device.addRemote()">
            New Remote
          </a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" href="" ng-click="device.addCamera()">
            New Camera
          </a>
      </li>
    </ul>
  </div>
</div>

<!-- show all lights !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.light.length">
  <h4 data-toggle="collapse" data-target="#lights-list">Lights</h4>
  <div class="collapse" id="lights-list">
    <devices-dev ng-repeat="light in device.data.getDevicesObj.light" devinfo="light"></devices-dev>
  </div>
  <hr>
</section>

<!-- show all switches !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.switch.length">
  <h4 data-toggle="collapse" data-target="#switches-list">Switches</h4>
  <div class="collapse" id="switches-list">
    <devices-dev ng-repeat="switch in device.data.getDevicesObj.switch" devinfo="switch"></devices-dev>
  </div>
  <hr>
</section>
<!-- show all shutters !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.shutters.length">
  <h4 data-toggle="collapse" data-target="#shutters-list">Shutters</h4>
  <hr>
  <div class="collapse" id="shutters-list">
    <devices-dev ng-repeat="shutter in device.data.getDevicesObj.shutters" devinfo="shutter"></devices-dev>
  </div>
</section>
<!-- show all thermostats !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.thermostat.length">
  <h4 data-toggle="collapse" data-target="#thermostats-list">Thermostat</h4>
  <div class="collapse" id="thermostats-list">
    <devices-dev ng-repeat="thermo in device.data.getDevicesObj.thermostat" devinfo="thermo"></devices-dev>
  </div>
  <hr>
</section>
<!-- show all remotes !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.remote.length">
  <h4 data-toggle="collapse" data-target="#remotes-list">Remotes</h4>
  <div class="collapse" id="remotes-list">
    <devices-dev ng-repeat="cRemote in device.data.getDevicesObj.remote track by cRemote.id" devinfo="cRemote"></devices-dev>
  </div>
  <hr>
</section>
<!-- show all cameras !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.camera.length">
  <h4 data-toggle="collapse" data-target="#cameras-list">Cameras</h4>
  <div class="collapse" id="cameras-list">
    <devices-dev ng-repeat="camera in device.data.getDevicesObj.camera" devinfo="camera"></devices-dev>
  </div>
  <hr>
</section>
<!-- show all sensors !-->
<section class="display-devices" ng-if="device.data.getDevicesObj.sensor.length">
  <h4 data-toggle="collapse" data-target="#sensors-list">Sensors</h4>
  <div class="collapse" id="sensors-list">
    <devices-dev ng-repeat="sensor in device.data.getDevicesObj.sensor" devinfo="sensor"></devices-dev>
  </div>
  <hr>
</section>

<!-- show all sensors !-->
<section class="display-devices" ng-if="device.data.getBlacklisted.length">
  <h4 data-toggle="collapse" data-target="#blacklisted-list">Blacklisted</h4>
  <div class="collapse" id="blacklisted-list">
    <devices-dev ng-repeat="dev in device.data.getBlacklisted track by dev.id" devinfo="dev"></devices-dev>
  </div>
  <hr>
</section>

<section class="custom-modal-window edit-device-modal">
  <section class="custom-modal-wrap">
    <div class="edit-device-rename">
      <h3>Device Settings</h3>
      <!--<span class="color-transparent">
        Add to favorites
        <input type="checkbox" id="add-to-favorites" ng-model="device.activeDevice.favorites">
        <label for="add-to-favorites" title="add to favorites"></label>
      </span>!-->
      <div class="form-input-wrap">
        <label for="rename-device" class="form-label">
          Rename device
        </label>
        <input type="text" id="rename-device" class="form-input" ng-model="device.activeDevice.name">

        <!-- if editing camera show more options !-->
        <span ng-show="device.activeDevice.type === 'camera'">
          <label for="snapshot-camera" class="form-label">
            Snapshot
          </label>
          <input type="text" id="snapshot-camera" class="form-input" ng-model="device.activeDevice.snapshot">

          <label for="mjpeg-camera" class="form-label">
            MJPEG
          </label>
          <input type="text" id="mjpeg-camera" class="form-input" ng-model="device.activeDevice.mjpeg">
          <label for="rtsp-camera" class="form-label">
            RTSP
          </label>
          <input type="text" id="rtsp-camera" class="form-input" ng-model="device.activeDevice.rtsp">

          <label class="form-label">Rotation</label>
          <span>
            <i>0°</i>
            <input type="radio" id="camera-rotation-0" name="camera-rotation" value="0" ng-checked="device.activeDevice.rotate === 0" ng-model="device.activeDevice.rotate">
            <label for="camera-rotation-0" class="radio-label"></label>
          </span>
        <span>
            <i>90°</i>
            <input type="radio" id="camera-rotation-90" name="camera-rotation" value="90" ng-checked="device.activeDevice.rotate === 90" ng-model="device.activeDevice.rotate">
            <label for="camera-rotation-90" class="radio-label"></label>
          </span>
        <span>
            <i>180°</i>
            <input type="radio" id="camera-rotation-180" name="camera-rotation" value="180" ng-checked="device.activeDevice.rotate === 180" ng-model="device.activeDevice.rotate">
            <label for="camera-rotation-180" class="radio-label"></label>
          </span>
        <span>
            <i>270°</i>
            <input type="radio" id="camera-rotation-270" name="camera-rotation" value="270" ng-checked="device.activeDevice.rotate === 270" ng-model="device.activeDevice.rotate">
            <label for="camera-rotation-270" class="radio-label"></label>
          </span>
        </span>

        <!-- if editing remote show options !-->
        <span ng-show="device.activeDevice.type === 'tv'">

          <label class="form-label" for="ir-output-remote">IR Output</label>
          <select id="ir-output-remote" class="form-select" ng-model="device.activeDevice.deviceid">
            <option ng-repeat="remote in device.data.getBridges" value={{remote.id}}>
              {{remote.name}}
            </option>
          </select>
        </span>
      </div>
      <img class="edit-devices-close-btn" src="img/button/cross.png" ng-click="device.closeCustomModal()">
    </div>
    <div class="edit-device-room">
      <h4>Asigned rooms</h4>
      <div class="asing-room">
        <button type="button" class="button asigned-room-btn" ng-repeat="room in device.asignedRooms" ng-click="device.removeRoom($index, room)">
          <p>{{room.name}}</p>
        </button>
      </div>
      <hr>
      <h4>Unasigned rooms</h4>
      <div class="asing-room">
        <button type="button" class="button unasigned-room-btn" ng-repeat="room in device.unAsignedRooms" ng-click="device.addRoom($index, room)">
          <p>{{room.name}}</p>
        </button>
      </div>

      <div class="add-new-footer">
        <button type="" class="button orange-btn" ng-click="device.closeCustomModal()">
          Cancel
        </button>
        <button type="submit" class="button blue-btn" ng-click="device.saveDeviceOptions(); device.closeCustomModal()">
          Save
        </button>
      </div>
    </div>
  </section>
</section>

<section class="custom-modal-window add-camera-modal">
  <section class="custom-modal-wrap">
    <div class="add-camera-header">
      <h3>Add new camera</h3>
    </div>
    <div class="add-camera-step-1">
      <form type="form" ng-submit="device.addNewCamera()" autocomplete="off" id="add-camera-form">
        <div class="col-md-6">
          <div class="col-xs-6 col-md-12">
            <input type="text" class="hidden-input">
            <input type="password" class="hidden-input">
            <label for="add-camera-name" class="form-label">Name</label>
            <input type="text" id="add-camera-name" class="form-input" required>

            <label for="add-camera-desc" class="form-label">Description</label>
            <input type="text" id="add-camera-desc" class="form-input">
          </div>
          <div class="col-xs-6 col-md-12">
            <label for="add-camera-user" class="form-label">Username</label>
            <input type="text" id="add-camera-user" class="form-input">

            <label for="add-camera-password" class="form-label">Password</label>
            <input type="password" id="add-camera-password" class="form-input">
          </div>
        </div>
        <div class="col-md-6">
          <div class="col-xs-6 col-md-12">
            <label for="add-camera-rtsp" class="form-label">RTSP</label>
            <input type="text" id="add-camera-rtsp" class="form-input">

            <label for="add-camera-mjpeg" class="form-label">MJPEG</label>
            <input type="text" id="add-camera-mjpeg" class="form-input">
          </div>
          <div class="col-xs-6 col-md-12">
            <label for="add-camera-snapshot" class="form-label">JPEG Snapshot</label>
            <input type="text" id="add-camera-snapshot" class="form-input">
            <label class="form-label" for="add-camera-rotation">Rotation</label>
            <select class="form-select" id="add-camera-rotation">
              <option value="hhh">0°</option>
              <option value="90">90°</option>
              <option value="180">180°</option>
              <option value="270">270°</option>
            </select>
            <!--<span>
              <i>0°</i>
              <input type="radio" id="add-camera-rotation-0" name="add-camera-rotation" value="0" checked>
              <label for="add-camera-rotation-0" class="radio-label"></label>
            </span>
            <span>
              <i>90°</i>
              <input type="radio" id="add-camera-rotation-90" name="add-camera-rotation" value="90">
              <label for="add-camera-rotation-90" class="radio-label"></label>
            </span>
            <span>
              <i>180°</i>
              <input type="radio" id="add-camera-rotation-180" name="add-camera-rotation" value="180">
              <label for="add-camera-rotation-180" class="radio-label"></label>
            </span>
            <span>
              <i>270°</i>
              <input type="radio" id="add-camera-rotation-270" name="add-camera-rotation" value="270">
              <label for="add-camera-rotation-270" class="radio-label"></label>
            </span>!-->
          </div>
        </div>
      </form>
    </div>

    <div class="add-camera-step-2">
      <div ng-if="device.addCamSuccess">
        <h4>Connecting success!</h4>
        <h5>You can start using your camera just by clicking on it</h5>
      </div>

      <div ng-if="!device.addCamSuccess">
        <h4>Connecting failed!</h4>
        <h5>Something went wrong, check your input data</h5>
      </div>
    </div>
    <div class="add-new-footer">
      <button ng-hide="device.addCamSuccess || device.addCamSuccess === false" type="reset" class="button orange-btn" ng-click="device.closeCustomModal()" form="add-camera-form">
        Cancel
      </button>
      <button ng-show="device.addCamSuccess === false" type="button" class="button orange-btn" ng-click="device.restoreAddCamModal()">
        Go back
      </button>

      <button ng-hide="device.addCamSuccess || device.addCamSuccess === false" type="submit" class="button blue-btn" form="add-camera-form">
        Save and Continue
      </button>
      <button ng-show="device.addCamSuccess || device.addCamSuccess === false" type="button" class="button blue-btn" ng-click="device.restoreAddCamModal(); device.closeCustomModal()">
        Exit
      </button>
    </div>
  </section>
</section>

<section class="custom-modal-window add-remote-modal">
  <section class="custom-modal-wrap add-remote-wrap">
    <div class="add-remote-header">
      <h3>Add new remote</h3>
    </div>
    <form type="form" autocomplete="off" ng-submit="device.addNewRemote()" id="add-remote-form">
      <div class="add-remote-input-wrap">
        <div class="form-input-wrap">
          <label for="add-remote-name" class="form-label">Name</label>
          <input type="text" class="form-input" id="add-remote-name" title="4 to 15 characters" pattern=".{4,15}" required>
        </div>
        <div class="add-remote-select-wrap">
          <label class="form-label" for="add-remote-ir-output">IR Output</label>
          <select id="add-remote-ir-output" class="form-select">
            <option value="1:1">1:1</option>
            <option value="1:2">1:2</option>
            <option value="1:3">1:3</option>
          </select>
        </div>
      </div>
      <hr>
      <div class="add-remote-radio-select">
        <h4>Remote type</h4>
        <span>
          <input type="radio" id="add-remote-tv" value="tv" name="add-remote-type" class="form-radio" checked>
          <label for="add-remote-tv" class="radio-label"></label>
          <i>TV</i>
        </span>
        <!--
        <span>
          <input type="radio" id="add-remote-ac" value="ac" name="add-remote-type" class="form-radio">
          <label for="add-remote-ac" class="radio-label"></label>
          <i>AC</i>
        </span>
        <span>
          <input type="radio" id="add-remote-multi" value="multi" name="add-remote-type" class="form-radio">
          <label for="add-remote-multi" class="radio-label"></label>
          <i>Multi</i>
        </span>
        !-->
      </div>

      <hr>
      <div class="add-remote-radio-select">
        <h4>Remote bridge</h4>
        <div class="asing-room">
          <span ng-repeat="remote in device.data.getBridges">
            <input type="radio" id="add-remote-bridge-{{remote.id}}" value="{{remote.id}}" name="add-remote-bridge" class="form-radio" checked>
            <label for="add-remote-bridge-{{remote.id}}" class="radio-label"></label>
            <i>{{remote.name}}</i>
          </span>
        </div>
      </div>
    </form>
    <div class="add-new-footer">
      <button type="reset" class="button orange-btn" form="add-remote-form" ng-click="device.closeCustomModal()">
        Cancel
      </button>
      <button type="submit" class="button blue-btn" form="add-remote-form">
        Save
      </button>
    </div>
  </section>
</section>
