<div class="template-nav">
  <div class="display-devices-row">
    <h3>Most used</h3>
  </div>
</div>
<div class="display-devices-row">
  <span ng-repeat="dev in mostUsed.allDev track by dev.id">
    <switch ng-if="dev.type === 'switch'" sinfo="dev"></switch>
    <light ng-if="dev.type === 'light'" linfo="dev"></light>
    <thermostat ng-if="dev.type === 'thermostat'" tinfo="dev"></thermostat>
    <shutter ng-if="dev.tyoe === 'shutter'" shinfo="dev"></shutter>
    <remote ng-if="dev.type === 'tv'" crinfo="dev"></remote>
    <camera ng-if="dev.type === 'camera'" cinfo="dev"></camera>
  </span>
</div>

<section class="custom-modal-window cam-live-stream-modal">
  <section class="custom-modal-wrap">
    <img src="img/button/cross.png" class="close-live-stream-modal" ng-click="mostUsed.stopLiveStream()">
    <img ng-src={{mostUsed.liveImage}} class="camera-live-stream">
    <button type="button" ng-click="mostUsed.fullScreen()" class="button full-screen-btn"></button>
  </section>
</section>
