<div class="template-nav">
    <h3>Recently used</h3>
</div>
<div class="display-devices-row">
  <span ng-repeat="dev in recently.allDevArray track by dev.id" class="most-used-dev-wrap">
    <switch ng-if="dev.type === 'switch'" sinfo="dev"></switch>
    <light ng-if="dev.type === 'light'" linfo="dev"></light>
    <thermostat ng-if="dev.type === 'thermostat'" tinfo="dev"></thermostat>
    <shutter ng-if="dev.tyoe === 'shutter'" shinfo="dev"></shutter>
    <camera ng-if="dev.type === 'camera'" cinfo="dev"></camera>
    <remote ng-if="dev.type === 'remote'" tvinfo="remote"></remote>
  </span>
</div>
