<div class="template-nav">
  <h3>Schedule</h3>
  <button class="button add-new-btn">
    Add New Schedule
  </button>
</div>

<div class="display-devices-row">
  <schedule ng-repeat="schedule in schedule.allSchedules" schinfo="schedule"></schedule>
</div>

<div class="new-scene">

  <div class="new-scene-info">
    <h3>Add Schedule</h3>
    <div>
      <button type="reset" class="button settings-cancel-btn" form="new-scene-form" ng-click="schedule.cancelSchedule()">
        Cancel
      </button>
      <button type="submit" class="button settings-save-btn" form="new-scene-form">
        Done
      </button>
    </div>
  </div>

  <form type="form" ng-submit="schedule.addSchedule()" id="new-scene-form" autocomplete="off">
    <div class="new-scene-info">
      <div>
        <label for="new-scene-name" class="form-label">Schedule name</label>
        <input id="new-scene-name" class="form-input" pattern=".{4,15}" title="4 - 15 characters" required>
      </div>
      <div>
        <input type="number" class="form-number" id="new-scene-hours" placeholder="Hours">
        <input type="number" class="form-number" id="new-scene-minutes" placeholder="Minutes">
      </div>
      <div>
        <span>
          <input type="checkbox" id="new-scene-mon" class="new-scene-day" value="1">
          <label for="new-scene-mon" class="new-scene-day-label">Mon</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-tue" class="new-scene-day" value="2">
          <label for="new-scene-tue" class="new-scene-day-label">Tue</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-wed" class="new-scene-day" value="3">
          <label for="new-scene-wed" class="new-scene-day-label">Wed</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-thu" class="new-scene-day" value="4">
          <label for="new-scene-thu" class="new-scene-day-label">Thu</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-fri" class="new-scene-day" value="5">
          <label for="new-scene-fri" class="new-scene-day-label">Fri</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-sat" class="new-scene-day" value="6">
          <label for="new-scene-sat" class="new-scene-day-label">Sat</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-sun" class="new-scene-day" value="0">
          <label for="new-scene-sun" class="new-scene-day-label">Sun</label>
        </span>
      </div>
      <div>
        <span>
          <input type="checkbox" id="new-scene-sunrise" class="new-scene-sun-time" value="sunrise" title="Disables everything else" ng-click="schedule.getSunsetSunrise('sunrise')">
          <label for="new-scene-sunrise" class="new-scene-sun-label">Sunrise</label>
        </span>
        <span>
          <input type="checkbox" id="new-scene-sunset" class="new-scene-sun-time" value="sunset" ng-click="schedule.getSunsetSunrise('sunset')">
          <label for="new-scene-sunset" class="new-scene-sun-label">Sunset</label>
        </span>
      </div>
    </div>
  </form>

  <div class="new-scene-info new-scene-selected-devices">
    <button class="button new-scene-dev-btn" ng-repeat="dev in schedule.actionsArr">
      {{dev.device.name}}
    </button>
  </div>

  <div class="new-scene-devices">
    <div class="display-devices-row">

      <ss-switch ng-repeat="switch in schedule.allSwitches" sinfo="switch" ng-click="schedule.selectedForScene(switch, $index)"></ss-switch>

      <ss-light ng-repeat="light in schedule.allLights" linfo="light" ng-click="schedule.selectedForScene(light, $index)"></ss-light>
      <!--
      <ss-tvremote ng-repeat="tvremote in scene.allTvRemotes" tvremote="tvremote" ng-click="scene.selectedForScene()"></ss-tvremote>
      !-->
    </div>
  </div>
</div>
