<div class="template-nav">
  <div class="template-nav-toggle">
    <h3 class="template-nav-toggle-btn" id="surveilance" ng-click="alarmToggle = false">Cameras</h3>
    <h3 class="template-nav-toggle-btn" id="alarms" ng-click="alarmToggle = true">Alarms</h3>
    <div class="active-line-indicator" ng-class="{'alarm-active': alarmToggle}"></div>
  </div>
</div>

<div class="display-devices-row" ng-hide="alarmToggle === true">
  <camera ng-repeat="camera in security.data.getDevicesObj.camera" cinfo="camera"></camera>
  <small class="color-transparent" ng-if="security.data.getDevicesObj.camera.length === 0">No cameras were found</small>

  <div class="recorings-wrap">
    <h3 data-toggle="collapse" data-target="#camera-recordings">Camera recordings</h3>
    <div class="collapse" id="camera-recordings">
      <cam-rec ng-repeat="rec in security.data.getRecordings track by rec.id" camrec="rec"></cam-rec>
      <small class="color-transparent" ng-if="security.data.getDevicesObj.length === 0 || !security.data.getRecordings.length">No camera recordings were found</small>
    </div>
  </div>
</div>

<div class="display-devices-row" ng-show="alarmToggle">
  <alarm ng-repeat="sensorAlarm in security.data.getDevicesObj.sensor" ainfo="sensorAlarm" ng-click="security.toggleAddSensor(sensorAlarm.id)"></alarm>
    <alarm ng-repeat="sensorAlarm in security.data.getDevicesObj.camera" ainfo="sensorAlarm" ng-click="security.toggleAddSensor(sensorAlarm.id)"></alarm>
  <small class="color-transparent" ng-if="!security.data.getDevicesObj || security.data.getDevicesObj.sensor.length === 0">No sensors for triggering alarm were found</small>
</div>
