<div class="device-wrap">

  <div class="device-header">
    <img ng-src="img/device/thermostat.png" class="device-icon">
    <div class="device-content-data">
      <p>{{tinfo.name}}</p>
      <p>{{tinfo.type}}</p>
      <p>{{tinfo.module}}</p>
    </div>
  </div>

  <!-- display +/- set thermostat !-->
  <div class="device-footer">
    <div class="device-footer-btn-wrap">
      <button class="device-btn-opt device-minus-btn" ng-click="tempDown(tinfo)"></button>
      <butotn class="device-btn-opt" ng-click="setTemp(tinfo)" ng-class="{'success-green': responseSuccess}">
        <span class="color-blue">{{tinfo.value}}</span> /
        <span class="color-green">{{tinfo.target}}</span>
      </butotn>
      <button class="device-btn-opt device-plus-btn" ng-click="tempUp(tinfo)"></button>
    </div>
  </div>
</div>
