<div class="cam-rec-wrap">
  <img ng-src="{{camrec.thumbnailImg}}"/>
  <i class="material-icons" ng-click="startPlayback(camrec)">play_circle_outline</i>
  <span>
    <h5 ng-if="camrec.cameraName">{{camrec.cameraName}}</h5>
    <h5>{{camrec.starttime | date: 'd/MMM/yyyy HH:mm:ss'}}</h5>
  </span>

    <!-- <i class="material-icons" ng-click="startPlayback(camrec)">play_arrow</i> -->
    <!--<i class="material-icons" ng-click="endPlayback(camrec.id)">stop</i>!-->
    <i class="material-icons color-red" ng-click="deleteRecording(camrec.id)" ng-hide="currentState === 'frame.dashboard'">delete</i>
  </span>
</div>
