<div class="camera-wrap">
  <img ng-if="cinfo.thumbnailImg" ng-src={{cinfo.thumbnailImg}} class="camera-cached-tumb" ng-click="requestLiveStream(cinfo)">
  <h5 ng-if="!cinfo.thumbnailImg">Camera not available</h5>
  <button ng-if="!cinfo.thumbnailImg" type="button" class="button camera-refresh-btn" ng-click="refreshFeed(cinfo)">
    Refresh feed
  </button>
  <h4>{{cinfo.name}}</h4>
  <span class="device-add-to-favorites">
    <input type="checkbox" id="add-to-favorites-{{cinfo.id}}" ng-model="cinfo.favorites" ng-change="toggleAddToFavorites(cinfo.favorites, cinfo.id)">
    <label for="add-to-favorites-{{cinfo.id}}" class="device-add-to-favorites-label" title="add to favorites"></label>
  </span>
  <i class="material-icons camera-live-tumb-btn" class="camera-live-tumb-btn" ng-click="getLiveThumbnail(cinfo.id)" title="get live thumbnail">photo_camera</i>
  <i class="material-icons color-red camera-recording" ng-click="startRecording(cinfo.id); recording = true" title="start recording" ng-hide="recording">fiber_manual_record</i>
  <i class="material-icons color-green camera-recording" ng-click="stopRecording(cinfo.id); recording = false" title="stop recording" ng-show="recording">stop</i>
</div>
