<div class="devices-dev-wrap">
  <div class="devices-dev-box">
    <img ng-src="{{devIcon}}" title="{{devinfo.module}}">
    <h4>{{devinfo.name}}</h4>
  </div>

  <div class="devices-dev-box actions">
    <i class="material-icons" title="edit device" ng-click="editDevice(devinfo)">mode_edit</i>
    <i class="material-icons" ng-if="devinfo.type != 'camera' && devinfo.type != 'tv'" title="blacklist device" ng-click="blacklistDev(devinfo)">visibility_off</i>
    <i class="material-icons" ng-if="devinfo.type === 'camera' || devinfo.type === 'tv'" title="delete device" ng-click="blacklistDev(devinfo)">delete</i>
    <i class="material-icons" title="favorites" ng-click="toggleAddToFavorites(devinfo.favorites, devinfo.id)" ng-show="!devinfo.favorites">star_border</i>
    <i class="material-icons" title="favorites" ng-click="toggleAddToFavorites(devinfo.favorites, devinfo.id)" ng-show="devinfo.favorites">star</i>
  </div>

  <!-- unblacklist device !-->
  <div class="device-blacklisted" ng-show="devinfo.blacklisted">
    <button type="button" name="unblacklist" title="unblacklist device" class="button unblacklist-btn" ng-click="unblacklistDev(devinfo)">Unblacklist device</button>
  </div>
</div>
