<div class="device-wrap">
  <div class="device-header">
    <img ng-src="{{lightIcon}}" class="device-icon" ng-click="toggleDevicePowerState(linfo.id)" title="toggle state">
    <div class="device-content-data">
      <p>{{linfo.name}}</p>
      <p>{{linfo.type}}</p>
      <p>{{linfo.module}}</p>
    </div>
  </div>

  <!-- display ON/OFF switch !-->
  <div class="device-footer">
    <div class="device-footer-btn-wrap">
      <button class="device-btn" ng-class="{'device-btn-active': linfo.state.on}" ng-click="lightOn(linfo.id, linfo.state.on)">On</button>
      <button class="device-btn" ng-class="{'device-btn-active': !linfo.state.on}" ng-click="lightOff(linfo.id, linfo.state.on)">Off</button>
    </div>
    <div class="device-footer-option-wrap" ng-hide="currentState === 'frame.devices'">
      <button class="device-options-btn" ng-click="deviceOptions = !deviceOptions">Options</button>
    </div>
  </div>

  <div class="device-options" ng-show="deviceOptions">
    <div title="set color" class="device-option-btn device-option-color" ng-click="colorPicker = true"></div>
    <div title="set white" class="device-option-btn device-option-set-white" ng-click="setLightWhite(linfo.id)"></div>
  </div>

  <!-- color picker !-->
  <div class="option-wrap" ng-show="colorPicker">
    <img src="img/button/cross-dark.png" class="close-device-options" ng-click="colorPicker = false">
    <div id="light-color" class="light-set-color"></div>
    <div>
      <button class="device-options-btn set-color-btn" ng-click="setColor(linfo.id, linfo.state.hex)">Set color</button>
    </div>
  </div>
</div>
