<div class="row schedule-wrap">
  <div class="col-xs-12 col-sm-6">
    <p>{{schinfo.name}}</p>
  </div>
  <div class="col-xs-12 col-sm-6 display-flex justify-end">
    <!-- log days of schedule !-->
    <span ng-if="schinfo.dateTime.dayOfWeek.length < 7" ng-repeat="day in schinfo.dateTime.dayOfWeek">
      <p ng-if="day === 0">Sun
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 1">Mon
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 2">Tue
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 3">Wed
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 4">Thu
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 5">Fri
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
      <p ng-if="day === 6">Sat
        <span ng-hide="$index == schinfo.dateTime.dayOfWeek.length -1">,</span>
      </p>
    </span>
    <p ng-if="schinfo.dateTime.dayOfWeek.length === 7" class="color-blue">Daily</p>
    <p ng-if="schinfo.dateTime.date">{{schinfo.dateTime.date | date: 'd/MMM/yyyy HH:mm'}}</p>

    <!-- dropdown menu, edit, delete !-->
    <div class="dropdown">
      <button type="button" class="button edit-schedule-btn" id="edit-schedule-btn" role="button" data-toggle="dropdown"></button>
      <ul class="dropdown-menu edit-schedule-dropdown" role="menu" aria-labelledby="edit-schedule-btn">
        <li role="presentation" class="edit-schedule-dropdown-btn" ng-hide="schinfo.type === 'device'">
          <a role="menuitem" tabindex="-1" href="" data-toggle="collapse" data-target="#edit-schedule-menu-{{schinfo.id}}">
        Edit
          </a>
        </li>
        <li role="presentation" class="delete-schedule-dropdown-btn">
          <a role="menuitem" tabindex="-1" href="" ng-click="deleteSchedule(schinfo.id)">
        Delete
          </a>
        </li>
      </ul>
    </div>
  </div>

  <!-- edit schedule collapse !-->
  <div class="col-xs-12 collapse" id="edit-schedule-menu-{{schinfo.id}}">
    <div class="col-xs-6 col-sm-6 col-md-2 edit-schedule-group">
      <input type="text" class="form-input" ng-model="schinfo.name" placeholder="Schedule name" pattern=".{4,15}" title="4 - 15 characters" required>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2 edit-schedule-group">
      <input type="number" class="form-number" ng-model="schinfo.dateTime.hour" placeholder="Hours" min="0" max="23">
      <input type="number" class="form-number" ng-model="schinfo.dateTime.minute" placeholder="Minutes" min="0" max="59">
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 edit-schedule-group">
      <span>
        <input type="checkbox" id="edit-schedule-mon-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(1) != -1" value="1">
        <label for="edit-schedule-mon-{{schinfo.id}}" class="schedule-label">Mon</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-tue-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(2) != -1" value="2">
        <label for="edit-schedule-tue-{{schinfo.id}}" class="schedule-label">Tue</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-wed-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(3) != -1" value="3">
        <label for="edit-schedule-wed-{{schinfo.id}}" class="schedule-label">Wed</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-thu-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(4) != -1" value="4">
        <label for="edit-schedule-thu-{{schinfo.id}}" class="schedule-label">Thu</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-fri-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(5) != -1" value="5">
        <label for="edit-schedule-fri-{{schinfo.id}}" class="schedule-label">Fri</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-sat-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(6) != -1" value="6">
        <label for="edit-schedule-sat-{{schinfo.id}}" class="schedule-label">Sat</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-sun-{{schinfo.id}}" ng-checked="schinfo.dateTime.dayOfWeek.indexOf(0) != -1" value="0">
        <label for="edit-schedule-sun-{{schinfo.id}}" class="schedule-label">Sun</label>
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2 edit-schedule-group">
      <span>
        <input type="checkbox" id="edit-schedule-sunset-{{schinfo.id}}" value="sunset" ng-checked="schinfo.dateTime === 'sunset'">
        <label for="edit-schedule-sunset-{{schinfo.id}}" class="schedule-label schedule-sunset-label">Sunset</label>
      </span>
      <span>
        <input type="checkbox" id="edit-schedule-sunrise-{{schinfo.id}}" value="sunrise" ng-checked="schinfo.dateTime === 'sunrise'">
        <label for="edit-schedule-sunrise-{{schinfo.id}}" class="schedule-label schedule-sunrise-label">Sunrise</label>
      </span>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-1 edit-schedule-group">
      <button type="submit" class="button blue-btn">Save</button>
    </div>
  </div>
</div>
