<div class="device-wrap">
  <!-- favorites btn -->
  <span class="device-add-to-favorites">
    <input type="checkbox" id="add-to-favorites-{{::switchCtrl.deviceObj.id}}" ng-model="switchCtrl.deviceObj.favorites" ng-change="switchCtrl.toggleDeviceFavorites(switchCtrl.deviceObj.id, switchCtrl.deviceObj.favorites)">
    <label for="add-to-favorites-{{::switchCtrl.deviceObj.id}}" class="device-add-to-favorites-label" title="add to favorites"></label>
  </span>
  <!-- schedule -->
  <img ng-src="img/button/schedule.svg" class="device-schedule-btn" title="quick schedule">
  <!-- dev info -->
  <div class="device-header">
    <img ng-src="{{switchCtrl.deviceIcon}}" class="device-icon" ng-click="switchCtrl.toggleDevicePowerState(switchCtrl.deviceObj.id)" title="toggle state">
    <div class="device-content-data">
      <p>{{::switchCtrl.deviceObj.name}}</p>
      <p>{{::switchCtrl.deviceObj.type}}</p>
      <p>{{::switchCtrl.deviceObj.module}}</p>
    </div>
  </div>

  <!-- display ON/OFF switch !-->
  <div class="device-footer">
    <div class="device-footer-btn-wrap">
      <button class="device-btn" ng-class="{'device-btn-active': switchCtrl.deviceObj.value}" ng-click="switchCtrl.setSwitchPowerStateOn(switchCtrl.deviceObj.id)">On</button>
      <button class="device-btn" ng-class="{'device-btn-active': !switchCtrl.deviceObj.value}" ng-click="switchCtrl.setSwitchPowerStateOff(switchCtrl.deviceObj.id)">Off</button>
    </div>
    <div class="device-footer-option-wrap">
    </div>
  </div>

  <!-- schedule !-->
  <div class="option-wrap hidden" id="device-schedule-tab">
    <button type="reset" class="close-device-options close-form-btn">
    </button>
    <form class="add-schedule-dev-form" id="dev-schedule-form-{{::switchCtrl.deviceObj.id}}">
      <p>Device will turn
        <span class="color-blue" ng-show="switchCtrl.scheduleState">ON</span>
        <span class="color-orange" ng-show="!switchCtrl.scheduleState">OFF</span>
        at:
      </p>
      <input type="number" class="form-number" placeholder="Hours" min="0" max="23" required>
      <input type="number" class="form-number" placeholder="Minutes" min="0" max="59" required>

      <div class="add-schedule-dev-options-wrap">
        <div class="add-schedule-dev-option">
          <small>Daily</small>
          <input type="radio" name="repeat-device-schedule" value="daily" id="schedule-device-daily-{{::switchCtrl.deviceObj.id}}" ng-model="switchCtrl.deviceScheduleRepeat">
          <label for="schedule-device-daily-{{::switchCtrl.deviceObj.id}}" class="radio-label" title="schedule will repeat daily"></label>
        </div>
        <div class="add-schedule-dev-option">
          <small>Once</small>
          <input type="radio" name="repeat-device-schedule" value="once" id="schedule-device-once-{{::switchCtrl.deviceObj.id}}" ng-model="switchCtrl.deviceScheduleRepeat">
          <label for="schedule-device-once-{{::switchCtrl.deviceObj.id}}" class="radio-label" title="schedule will fire just once"></label>
        </div>
      </div>

      <small ng-show="switchCtrl.scheduleSuccess" class="color-green pop-up">Scheduled!</small>
    </form>

    <div class="device-footer devices-schedule-footer">
      <div class="device-footer-btn-wrap">
        <button type="button" class="device-btn" ng-class="{'device-btn-active': switchCtrl.scheduleState}" ng-click="switchCtrl.scheduleState = true">On</button>
        <button type="button" class="device-btn" ng-class="{'device-btn-active': !switchCtrl.scheduleState}" ng-click="switchCtrl.scheduleState = false">Off</button>
      </div>
      <div class="device-footer-option-wrap">
        <button type="submit" class="device-options-btn" form="dev-schedule-form-{{::switchCtrl.deviceObj.id}}">Schedule</button>
      </div>
    </div>
  </div>
</div>
