<div class="device-wrap">
  <!-- favorites -->
  <span class="device-add-to-favorites">
    <input type="checkbox" id="add-to-favorites-{{::thermostatCtrl.deviceObj.id}}" ng-model="thermostatCtrl.deviceObj.favorites" ng-click="thermostatCtrl.toggleDeviceFavorites(thermostatCtrl.deviceObj.id, thermostatCtrl.deviceObj.favorites)">
    <label for="add-to-favorites-{{::thermostatCtrl.deviceObj.id}}" class="device-add-to-favorites-label" title="add to favorites"></label>
  </span>
  <!-- schedule -->
  <img ng-src="img/button/schedule.svg" class="device-schedule-btn" id="device-schedule-btn" title="quick schedule">
<!-- dev info -->
  <div class="device-header">
    <img ng-src="img/device/thermostat.png" class="device-icon">
    <div class="device-content-data">
      <p>{{::thermostatCtrl.deviceObj.name}}</p>
      <p>{{::thermostatCtrl.deviceObj.type}}</p>
      <p>{{::thermostatCtrl.deviceObj.module}}</p>
    </div>
  </div>

  <!-- display +/- set thermostat !-->
  <div class="device-footer">
    <div class="device-footer-btn-wrap">
      <button class="device-btn-opt device-minus-btn" ng-click="thermostatCtrl.setThermostatTemperatureDown(thermostatCtrl.deviceObj.target)"></button>
      <butotn class="device-btn-opt" ng-click="thermostatCtrl.setThermostatTemperature(thermostatCtrl.deviceObj.id, thermostatCtrl.deviceObj.target)" ng-class="{'success-green': thermostatCtrl.setTempSuccess}">
        <span class="color-blue">{{::thermostatCtrl.deviceObj.value}}</span> /
        <span class="color-green">{{thermostatCtrl.deviceObj.target}}</span>
      </butotn>
      <button class="device-btn-opt device-plus-btn" ng-click="thermostatCtrl.setThermostatTemperatureUp(thermostatCtrl.deviceObj.target)"></button>
    </div>
  </div>

  <!-- schedule !-->
  <div class="option-wrap hidden" id="device-schedule-tab">
    <button type="reset" class="close-device-options close-form-btn">
    </button>
    <form class="add-schedule-dev-form" id="dev-schedule-form-{{::thermostatCtrl.deviceObj.id}}">
      <p>Set thermostat to
        <span class="color-orange">{{thermostatCtrl.deviceScheduleTemperature}}°</span>
        at:
      </p>
      <input type="number" class="form-number" placeholder="Hours" min="0" max="23" required>
      <input type="number" class="form-number" placeholder="Minutes" min="0" max="59" required>

      <div class="add-schedule-dev-options-wrap">
        <div class="add-schedule-dev-option">
          <small>Daily</small>
          <input type="radio" name="repeat-device-schedule" value="daily" id="schedule-device-daily-{{::thermostatCtrl.deviceObj.id}}" ng-model="thermostatCtrl.deviceScheduleRepeat">
          <label for="schedule-device-daily-{{::thermostatCtrl.deviceObj.id}}" class="radio-label" title="schedule will repeat daily"></label>
        </div>
        <div class="add-schedule-dev-option">
          <small>Once</small>
          <input type="radio" name="repeat-device-schedule" value="once" id="schedule-device-once-{{::thermostatCtrl.deviceObj.id}}" ng-model="thermostatCtrl.deviceScheduleRepeat">
          <label for="schedule-device-once-{{::thermostatCtrl.deviceObj.id}}" class="radio-label" title="schedule will fire just once"></label>
        </div>
      </div>

      <small ng-show="thermostatCtrl.scheduleSuccess" class="color-green pop-up">Scheduled!</small>
    </form>

    <div class="device-footer devices-schedule-footer">
      <div class="device-footer-btn-wrap">
        <button type="button" class="device-btn device-minus-btn" ng-click="thermostatCtrl.setThermostatScheduleTemperatureDown(thermostatCtrl.deviceScheduleTemperature)"></button>
        <button type="button" class="device-btn device-plus-btn" ng-click="thermostatCtrl.setThermostatScheduleTemperatureUp(thermostatCtrl.deviceScheduleTemperature)"></button>
      </div>
      <div class="device-footer-option-wrap">
        <button type="submit" class="device-options-btn" form="dev-schedule-form-{{::thermostatCtrl.deviceObj.id}}">Schedule</button>
      </div>
    </div>
  </div>
</div>
