.add-devices-btn {
  background-color: #1D83E4;
  margin: 1em;
}
.add-new-device-dorpdown-menu {
  min-width: auto;
  width: 100%;
}
.custom-modal-window {
  display: none;
  top: 0;
  left: 0;
  bottom: 3em;
  right: 0;
  position: absolute;
  background-color: rgba(15, 42, 65, 0.8);
}
.edit-device-modal, .add-camera-modal, .add-scan-camera-modal. .add-remote-modal {
  display: none;
}
.show-modal{
  display: block;
}
.custom-modal-wrap {
  position: relative;
  max-width: 95%;
  max-height: 100%;
  overflow: auto;
  margin: 1% auto;
  background-color: #1D405A;
  border-radius: 0.5em;
  color: #fff;
  z-index: 10;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#add-to-favorites ~ label {
  width: 1em;
  height: 1em;
  margin: 0;
  cursor: pointer;
  background: transparent url(../img/button/favorite-hollow.png) 50% no-repeat;
}
#add-to-favorites:checked ~ label {
  width: 1em;
  height: 1em;
  background: transparent url(../img/button/favorite-white.png) 50% no-repeat;
  box-shadow: none;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.edit-device-rename {
  position: relative;
  background-color: #317FBC;
  padding: 1%;
}
.edit-devices-close-btn {
  position: absolute;
  top: 3%;
  right: 1%;
  cursor: pointer;
  z-index: 1;
}
.edit-device-room {
  padding: 1%;
}
.asing-room {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 1% auto;
  max-height: 6em;
  overflow: auto;
}
.asing-room button > p {
  margin-right: 1em;
}
.asigned-room-btn {
  background: #317FBC url(../img/button/cross-dark.png) 97% 50% no-repeat;
  min-width: 8em;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-animation: popUp 0.5s ease forwards;
  animation: popUp 0.5s ease forwards;
}
.unasigned-room-btn {
  background: #244E6E url(../img/button/plus.png) 97% 50% no-repeat;
  min-width: 8em;
  margin-right: 1em;
  margin-bottom: 1em;
  -webkit-animation: popUp 0.5s ease forwards;
  animation: popUp 0.5s ease forwards;
}
.asigned-room-btn:active, .unasigned-room-btn:active {
  -webkit-animation: popDown 0.5s ease forwards;
  animation: popDown 0.5s ease forwards;
}
.edit-devices-btn-wrap {
  margin-top: 2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.edit-devices-btn-wrap button {
  width: 25%;
}
.add-camera-header {
  height: 4em;
  background-color: #176BBA;
  color: #fff;
  text-align: center;
}
.add-camera-header h3, .add-remote-header h3 {
  line-height: 3;
  margin: 0;
}
.add-camera-step-1 {
  width: 100%;
}
.add-camera-step-2 {
  display: none;
  width: 100%;
  height: 100%;
  margin-top: -1em;
  padding: 2em;
  background-color: #176BBA;
}
.add-camera-step-1 div {
  padding: 1% 2%;
}
.add-new-footer {
  width: 100%;
  background-color: #1D4361;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
  height: 4em;
}
/*
.add-new-footer button {
  width: 25%;
}*/
.add-remote-header {
  background-color: #176BBA;
  height: 4em;
  text-align: center;
}
.add-remote-input-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 2%;
}
.add-remote-input-wrap .form-input-wrap {
  width: 70%;
}
.add-remote-select-wrap {
  width: 25%;
}
.add-remote-select-wrap select {
  width: 100%;
}
.add-remote-radio-select {
  padding: 0 2%;
}
.scan-canmeras-check-wrap{
  padding: 5% 0;
}
.scan-canmeras-check-wrap > label{
  margin: 0;
}
@-webkit-keyframes popUp {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popUp {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  75% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes popDown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes popDown {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* DEVICES DEV */
.devices-dev-wrap{
  height: 5em;
  width: 100%;
  color: #fff;
  background-color: #193146;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.devices-dev-wrap:nth-child(odd){
  background-color: #1B3449;
}
.devices-dev-box{
  display: inherit;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.devices-dev-box > img{
  height: 4em;
  width: 4em;
  margin-right: 1.5em;
}
.devices-dev-box > h4{
  max-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.devices-dev-box.actions{
  margin: auto 0;
  padding: 0.5em;
  border-radius: 0.35em;
  background-color: #274258;
}
.devices-dev-box.actions > i{
  height: auto;
  width: auto;
  margin: auto 0.5em;
  cursor: pointer;
  font-size: 1.40em;
  transition: all 0.3s ease
}
.devices-dev-box.actions > i.double-check{
  color: #EC3535;
}
@media screen and (min-width: 380px){
  .devices-dev-box > h4{
    max-width: 7em;
  }
}
@media screen and (min-width: 410px){
  .custom-modal-wrap{
    margin: 2% auto;
  }
}
@media screen and (min-width: 768px){
  .devices-dev-box > h4 {
      max-width: 15em;
  }
}
@media screen and (min-width: 1400px){
  .custom-modal-wrap{
    margin: 4% auto;
    max-width: 75%;
  }
}
