.frame-wrap {
  height: 100%;
  width: 100%;
  padding: 1%;
  overflow: hidden;
  background-color: #1362AC;
  position: relative;
}
.server-offline-msg {
  position: absolute;
  left: 25%;
  top: 1em;
  color: #fff;
  -webkit-animation: popUp 0.35s ease;
  animation: popUp 0.35s ease;
}
.frame-nav {
  margin-bottom: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.burger-menu-icon {
  height: 1.25em;
  line-height: 1.25;
  padding: 0 1%;
  margin: auto 0;
}
.frame-menu-icon {
  height: 1.5em;
  margin: auto 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.frame-menu-icon:hover, .frame-menu-icon:active {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.frame-nav > div {
  display: inherit;
}
.frame-new-server-notification {
  /*background-color: #0A5193;*/
  border-radius: 0.3em;
  color: #C1DBF0;
  padding: 0.25em;
  height: 100%;
  margin: auto 1%;
}
.server-found-img {
  max-width: 2em;
}
.frame-new-server-btn {
  /*background: transparent url(../img/button/chevron-right.png) 95% 50% no-repeat;*/
  background: transparent;
  text-align: center;
  -webkit-animation: blink 2s ease-in-out infinite;
  animation: blink 2s ease-in-out infinite;
}
@-webkit-keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
  }
  100 {
    background: transparent;
  }
}
@keyframes blink {
  0% {
    background: transparent;
  }
  50% {
    background: rgba(255, 255, 255, 0.5);
  }
  100 {
    background: transparent;
  }
}
.frame-notifications {
  position: relative;
  height: 2.5em;
  width: 2.5em;
  margin: auto 1.5em;
  border-radius: 50%;
  background-color: #3881C6;
  color: #fff;
  text-align: center;
  line-height: 2.5;
  cursor: pointer;
}
.frame-notifications-dropdown {
  display: none;
  position: absolute;
  background: #122C42;
  width: 15em;
  z-index: 2;
  left: -6em;
  top: 3em;
}
.frame-notifications-dropdown::before {
  content: '';
  position: absolute;
  background-color: #122C42;
  z-index: -1;
  width: 1em;
  height: 1em;
  left: 45%;
  top: -0.15em;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.frame-notifications-dropdown ul {
  max-height: 20em;
  overflow: auto;
  padding-left: 2em;
  list-style: url();
  word-wrap: break-word;
  line-height: 1.2;
}
.frame-notifications-dropdown ul li:nth-child(even) {
  background-color: #1B3449;
}
.frame-notifications-more-btn {
  background-color: inherit;
  background-image: url();
  background-position: 50% 75%;
  border: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  width: 100%;
}
.user-dropdown-toggle-btn {
  height: auto;
  box-sizing: content-box;
  padding: 0.5em 1em;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0;
  border: 0.1em solid #e3e3e3;
  border-left: 0.4em solid #5FCA8F;
  background-image: url(../img/button/chevron-down.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
.user-dropdown {
  width: 100%;
  min-width: inherit;
  background-color: #1986D9;
}
.user-dropdown > li {
  height: 3em;
  text-indent: 2em;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}
.user-dropdown > li > a {
  line-height: 3;
  color: #fff;
}
.user-dropdown > li > a:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.user-dropdown > li:nth-child(odd) {
  background-color: #1881D1;
}
.alarms-btn {
  background-image: url(../img/button/alarm-white.png);
  opacity: 0.35;
}
.alarms-btn.trigered {
  opacity: 1;
  background-color: #5fca8f !important;
}
.account-settings-btn {
  background-image: url(../img/button/account-settings.png);
}
.logout-btn {
  background-image: url(../img/button/logout-white.png);
}
.user-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.user-avatar {
  border: 0.1em solid rgba(255, 255, 255, 0.5);
  height: 2.5em;
  width: 2.5em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin: auto 1em auto 0;
}
.user-details {
  margin: auto 2em auto 1em;
  text-align: left;
}
.user-details > h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.frame-logout-btn {
  background-color: rgba(17, 89, 157, 0.5);
  color: #fff;
  padding: 0;
  background-image: url(../img/button/logout.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  min-width: 8em;
  text-align: left;
  text-indent: 1em;
  height: 2.5em;
  margin: auto;
}
.frame-content-wrap {
  position: relative;
  background-color: #0F2A41;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 88%;
  overflow: hidden;
}
.frame-sidebar {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  height: 100%;
  left: -85%;
  width: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.frame-sidebar.active {
  left: 0;
}
.active-server-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1em;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.active-server-btn a {
  color: #fff;
}
.server-status-dot {
  position: absolute;
  right: 0.5em;
  height: 1em;
}
.server-status-dot.online {
  color: #5FCA8F;
}
.server-status-dot.offline {
  color: #EC3535;
}

/* bootstrap css override */

.server-dropdown {
  margin: 1% auto;
  left: auto;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.5);
}
.server-dropdown-ul {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-bottom: 0.1em solid;
  max-height: 15em;
  overflow: auto;
}
.server-dropdown-ul>li>a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.server-dropdown-ul>li>a {
  color: #fff;
  position: relative;
}
.downloads-panel-group {
  background-color: #0C253A;
}
.downloads-panel {
  background-color: #193954;
  border: none;
}
.downloads-panel-heading {
  background-color: #0D1E2E !important;
  cursor: pointer;
  text-indent: 5em;
  color: #fff !important;
  height: 4em;
}
.downloads-panel-heading.collapsed {
  background-color: #0B1E2F;
}

/* bootstrap end */

.sidebar-nav-btn {
  width: 100%;
  height: 4em;
  line-height: 4;
  background-color: rgba(0, 0, 0, 0.7);
  background-position: 5% 50%;
  background-repeat: no-repeat;
  margin: 0.1em 0;
  color: #fff;
  text-align: left;
  text-indent: 3em;
  border: 0;
  cursor: pointer;
  -webkit-transition: text-indent 0.4s ease, background-color 0.25s ease 0.2s, background-size 0.5s ease 0.2s;
  transition: text-indent 0.4s ease, background-color 0.25s ease 0.2s, background-size 0.5s ease 0.2s;
}
.sidebar-nav-btn:hover {
  background-color: inherit;
  color: #fff;
}
.nhome-btn {
  text-indent: 5em;
  background-image: url(../img/filter-icon/nhome.png);
  background-size: 3em;
}
.nhome-btn.active, .nhome-btn:hover {
  background-color: #BDBDBD;
  background-size: 10em;
  text-indent: 13em;
}
.devices-btn {
  text-indent: 5em;
  background-image: url(../img/filter-icon/devices.png);
  background-size: 3em;
}
.devices-btn.active, .devices-btn:hover {
  background-color: #1BA1DF;
  background-size: 10em;
  text-indent: 13em;
}
.scenes-btn {
  text-indent: 5em;
  background-image: url(../img/filter-icon/scenes.png);
  background-size: 3em;
}
.scenes-btn.active, .scenes-btn:hover {
  background-color: #EC3535;
  background-size: 10em;
  text-indent: 13em;
}
.schedule-btn {
  text-indent: 5em;
  background-image: url(../img/filter-icon/schedule.png);
  background-size: 3em;
}
.schedule-btn.active, .schedule-btn:hover {
  background-color: #12C9C6;
  background-size: 10em;
  text-indent: 13em;
}
.security-btn {
  text-indent: 5em;
  background-image: url(../img/filter-icon/security.png);
  background-size: 3em;
}
.security-btn.active, .security-btn:hover {
  background-color: #E9A737;
  background-size: 10em;
  text-indent: 13em;
}
.downloads-btn {
  background-image: url(../img/button/download-white.png);
}
.activity-log-btn {
  background-image: url(../img/button/activity-log.png);
  cursor: auto;
}
.activity-log-btn:hover {
  background-color: #122C42;
}
.sidebar-activity-log {
  /*background-color: #122C42;*/
  width: 100%;
  color: #949EAC;
  overflow: auto;
  padding: 0.5em 0;
}
.sidebar-activity-log.empty {
  background-image: url(../img/frame/activity-log.png);
  background-position: center;
  background-repeat: no-repeat;
  height: inherit;
}
.sidebar-activity-log > img {
  margin: 1em 35%;
  height: 8em;
}
.sidebar-activity-log ul {
  list-style: none;
  padding-left: 5%;
}
.sidebar-activity-log ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.activity-log-bullet {
  position: relative;
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  background-color: #78909C;
  margin-right: 2em;
}
.activity-log-bullet-shadow {
  position: absolute;
  background-color: #78909C;
  width: 0em;
  height: 0em;
  border-radius: 50%;
  opacity: 0;
  left: 25%;
  top: 25%;
  -webkit-animation: activityLogBullet 1.75s ease-in-out forwards;
  animation: activityLogBullet 1.75s ease-in-out forwards;
}
@-webkit-keyframes activityLogBullet {
  0% {
    position: absolute;
    background-color: #78909C;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    opacity: 0;
    left: 25%;
    top: 25%;
  }
  50% {
    position: absolute;
    background-color: #78909C;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    opacity: 0.5;
    left: -50%;
    top: -50%;
  }
  100% {
    position: absolute;
    background-color: #78909C;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    opacity: 0;
    left: 25%;
    top: 25%;
  }
}
@keyframes activityLogBullet {
  0% {
    position: absolute;
    background-color: #78909C;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    opacity: 0;
    left: 25%;
    top: 25%;
  }
  50% {
    position: absolute;
    background-color: #78909C;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    opacity: 0.5;
    left: -50%;
    top: -50%;
  }
  100% {
    position: absolute;
    background-color: #78909C;
    width: 0em;
    height: 0em;
    border-radius: 50%;
    opacity: 0;
    left: 25%;
    top: 25%;
  }
}
.activity-log-info {
  line-height: 1;
}
.activity-log-date {
  margin: 0;
  font-size: 0.8em;
  color: #586676
}
.downloads-menu {
  position: absolute;
  right: 0;
  top: 0;
  left: 100%;
  max-height: 100%;
  overflow: auto;
  z-index: 2;
  color: #fff;
  background-color: #0C253A;
  box-sizing: content-box;
  -webkit-animation: showSettings 0.7s ease forwards;
  animation: showSettings 0.7s ease forwards
}
@-webkit-keyframes showSettings {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 150%;
    opacity: 1;
  }
}
@keyframes showSettings {
  0% {
    width: 0%;
    opacity: 0;
  }
  100% {
    width: 150%;
    opacity: 1;
  }
}
.frame-page-content-wrap {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
.all-rooms-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.all-rooms-view-point {
  margin-top: 1%;
  max-height: calc(100% - 3.1em);
  overflow: auto;
}
.category-wrap {}
.add-category-btn {
  background: rgba(255, 255, 255, 0.1) url(../img/button/add-room.png) 50% 50% no-repeat;
  height: 2.5em;
  width: 2.5em;
  border: 0;
}
.add-category-wrap {
  background-color: #11599D;
  border-radius: 0.3em;
  height: 2.5em;
  padding: 0.25em;
  padding-right: 0;
  margin: 1em;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: expandAddCategory 0.35s ease;
  animation: expandAddCategory 0.35s ease;
}
@-webkit-keyframes expandAddCategory {
  0% {
    width: 0em;
  }
  100% {
    width: 18.5em;
  }
}
@keyframes expandAddCategory {
  0% {
    width: 0em;
  }
  100% {
    width: 18.5em;
  }
}
.category-name {
  cursor: pointer;
  margin: auto 1%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.category-name-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: auto 0;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.category-name-submit {
  background: transparent url(../img/button/checked.png) center no-repeat;
}
.category-name-reset {
  background: transparent url(../img/button/cross.png) center no-repeat;
}
.category-name-delete {
  line-height: 0;
  background: rgba(236, 53, 53, 0.65);
}
.button.add-new {
  background-image: url(../img/button/add-room.png);
  background-position: center;
  background-repeat: no-repeat;
}
.favorites-sensors-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  overflow: auto;
}
.sensor-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0 0.5em;
  max-width: 75%;
  overflow: auto;
}
.info-sensor {
  position: relative;
  display: inherit;
  max-width: 10em;
  margin: auto 1em;
  color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-animation: popUp 0.5s ease;
  animation: popUp 0.5s ease;
}
.info-sensor > img {
  position: absolute;
  height: 2em;
  width: auto;
  opacity: 0.5;
}
.sensor-details {
  margin-left: 2.25em;
  line-height: 1;
  text-align: left;
}
.sensor-details h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 100;
}
.sensor-details p {
  font-size: 0.8em;
  margin-top: -0.5em;
  word-break: break-all;
  word-wrap: break-word;
}
.category-dropdown-wrap {
  margin: auto 0;
}
.category-dropdown {
  height: 3em;
  line-height: 3;
  background: rgba(255, 255, 255, 0.35) url(../img/button/chevron-down.png) 95% 50% no-repeat;
  min-width: 11em;
  border-radius: 0.35em !important;
  text-indent: -2.5em;
}
.category-dropdown-list {
  background-color: rgba(255, 255, 255, 0.75);
  color: #fff;
}
.frame-view {
  position: relative;
  padding: 1%;
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.frame-nav-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1B3449;
  border-top: 0.1em solid #264A69;
  height: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.filter-btn {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 3;
  border-radius: 0;
  margin: 0;
  box-sizing: content-box;
  background-color: inherit;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: 3em;
  color: #8295A6;
  border-top: 0.3em solid transparent;
}
.filter-btn.active {
  border-top: 0.3em solid #1986D9;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.all-rooms-filter-btn {
  background-image: url(../img/button/list.png);
}
.all-rooms-filter-btn.active, .all-rooms-filter-btn:hover {
  background-image: url(../img/button/list-white.png);
}
.most-used-filter-btn {
  background-image: url(../img/button/most-used.png);
}
.most-used-filter-btn.active, .most-used-filter-btn:hover {
  background-image: url(../img/button/most-used-white.png);
}
.dashboard-filter-btn {
  background-image: url(../img/button/dashboard.png);
}
.dashboard-filter-btn.active, .dashboard-filter-btn:hover {
  background-image: url(../img/button/dashboard-white.png);
}
.favorite-filter-btn {
  background-image: url(../img/button/favorite.png);
}
.favorite-filter-btn.active, .favorite-filter-btn:hover {
  background-image: url(../img/button/favorite-white.png);
}
.recently-used-filter-btn {
  background-image: url(../img/button/recently.png);
}
.recently-used-filter-btn.active, .recently-used-filter-btn:hover {
  background-image: url(../img/button/recently-white.png);
}
.settings-cog-btn {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: url(../img/button/cog.png);
  background-position: 10% 50%;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3em;
}
.most-used-dev-wrap {
  width: 100%;
}
.dashboard-alarm-toggle {
  background: #071928 center no-repeat;
  width: 2.5em;
  height: 2.5em;
  border: 0.1em solid #133856;
}
.dashboard-alarm-toggle:first-of-type{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.dashboard-alarm-toggle:last-of-type{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}
.dashboard-alarm-toggle.active {
  background-color: #1986d9;
  border-radius: 4px;
}
.dashboard-alarm-toggle.alarm-off {
  background-image: url(../img/button/alarm-off.png);
}
.dashboard-alarm-toggle.alarm-on {
  background-image: url(../img/button/alarm-on.png);
}
@media screen and (min-width: 410px) {
  .frame-content-wrap {
    height: 88%;
  }
  .frame-view {
    height: 84vh;
  }
  .settings-cog-btn {
    height: 3em;
    line-height: 3;
  }
}
@media screen and (min-width: 600px) {
  .frame-sidebar {
    width: 50%;
    left: -50%;
  }
}
@media screen and (min-width: 768px) {
  .frame-view {
    height: 80vh;
  }
  .frame-sidebar {
    width: 40%;
    left: -40%;
  }
  .filter-btn {
    background-position: 15% 50%;
  }
  .all-rooms-view-point {
    max-height: calc(100% - 4.1em);
  }
  .most-used-dev-wrap {
    width: 18em;
    margin: auto;
  }
  .user-dropdown > li {
    background-position: 5% 50%;
  }
}
@media screen and (min-width: 992px) {
  .frame-sidebar {
    position: relative;
    width: 35%;
    left: 0;
    background-color: inherit;
  }
  .frame-sidebar.active {
    left: -35%;
    position: absolute;
  }
  .sidebar-nav-btn {
    background-color: #122C42;
  }
  .settings-cog-btn, .server-dropdown {
    background-color: #14334B;
  }
  .most-used-dev-wrap {
    margin: 1%;
  }
  .dashboard-alarm-toggle {
    width: 3em;
    height: 3em;
  }
}
@media screen and (min-width: 1200px) {
  .frame-view {
    height: 85vh;
  }
  .frame-menu-icon {
    height: auto;
  }
  .burger-menu-icon {
    height: 1.75em;
    width: auto;
    line-height: 1.75;
    font-size: 2em;
  }
  .frame-nav {
    margin-bottom: 1%
  }
  .frame-content-wrap {
    height: 91%;
  }
  @media screen and (min-height: 900px) {
    .frame-content-wrap {
      height: 93%;
    }
    .sidebar-activity-log {
      max-height: calc(100% - 40em);
    }
  }
}
@media screen and (min-width: 1600px) {
  .frame-sidebar {
    width: 25%;
  }
  .frame-sidebar.active {
    left: -25%;
  }
  .user-avatar {
    height: 3em;
    width: 3em;
  }
  .custom-modal-window {
    bottom: 4em !important;
  }
  .frame-nav-bottom, .filter-btn, .settings-cog-btn {
    height: 4em;
    line-height: 4;
  }
  .server-dropdown {
    margin: 4% auto;
  }
  .frame-content-wrap {
    height: 93%;
  }
}
