.login-template {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff url(../img/login-bg.png) center no-repeat;
}
.login-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1%;
  left: 0;
  font-weight: 100;
  color: #fff;
}
.login-description {
  max-height: 45%;
  background-color: #1272CD;
  line-height: 1;
}

.register-btn {
  margin: 0.25em;
  border: 0.1em solid #fff;
  width: 50%;
  background-image: url(../img/button/add-user.png) !important;
  background-repeat: no-repeat;
  background-position: 95% 50%;
  text-align: left;
}
.login-form {
  background-color: #1B3449;
  padding: 2%;
}
.oauth-logo{
  height: 2em;
  cursor: pointer;
}
.form-input-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0;
}
.login-btn {
  width: 100%;
  margin-top: 1.5em;
  background-color: #1D83E4;
  color: #fff;
}
.register-form {
  max-height: 55%;
  overflow: auto;
  background-color: #1B3449;
  padding: 2%;
}
.forgot-password-form {
  min-height: 16em;
  background-color: #1B3449;
  padding: 2em 1em;
}
.back-to-login-btn {
  background-color: #2E506C;
  margin: 1.5em 0
}
@-webkit-keyframes hideForm {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  100% {
    margin-left: 5%;
    opacity: 0;
  }
}
@keyframes hideForm {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  100% {
    margin-left: 5%;
    opacity: 0;
  }
}
@-webkit-keyframes showForm {
  0% {
    margin-left: 5%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@keyframes showForm {
  0% {
    margin-left: 5%;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}
@media screen and (min-width: 600px) {
  .register-btn {
    margin: 1em 0 0.25em;
  }
}
@media screen and (min-width: 768px) {
  .login-wrap {
    top: 4em;
  }
}
@media screen and (min-width: 992px) {
  .register-form div {
    padding-right: 1em;
  }
  .login-wrap {
    top: 10em;
    height: 22em;
    padding: 0;
  }
  .login-description {
    width: 60%;
    max-height: none;
    height: 100%;
    padding: 2em 5em;
  }
  .login-form, .register-form, .forgot-password-form {
    height: 100%;
    max-height: none;
  }
  .register-btn {
    margin: 3em 0 0.25em;
  }
  .login-description.register{
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .login-wrap {
    top: 20em;
    font-size: 1.15em;
  }
  .login-description {
    width: 60%;
    padding: 2em 5em 0 10em;
  }
  .register-btn {
    margin: 4em 0 0.25em;
  }
  /* RESOLUTION ABOVE 1440x900 mostly*/
  @media screen and (min-height: 900){
    .login-wrap {
      top: 18em;
    }
  }
}
