/* scenes */

.scene-box {
  position: relative;
  width: 18em;
  height: 9em;
  background-color: #14314A;
  border-radius: 0.35em;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.sce-box-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.sce-box-content img {
  max-height: 5em;
  max-width: 5em;
  margin: 0.5em;
  cursor: pointer;
}
.sce-box-content p {
  font-size: 1.1em;
  line-height: 1em;
  margin: 1em 0.5em 0 0;
  color: #fff;
}
.sce-box-footer {
  position: absolute;
  height: 2.5em;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: #21415B;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sce-box-footer p {
  line-height: 2.5em;
  margin-left: 0.5em;
  cursor: pointer;
  color: #fff;
}
.scene-delete-btn {
  height: 1em;
  margin: auto 0.5em;
  cursor: pointer;
  opacity: 0.2;
}
.sce-box-footer:hover .scene-delete-btn {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* END SCENE BOX CSS */

.new-scene {
  position: absolute;
  left: 1em;
  right: 1em;
  top: 1em;
  bottom: 1em;
  margin-top: 100%;
  background-color: #14314A;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  overflow: auto;
}
.new-scene-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 1em;
}
.scene-schedule-checbox-wrap{
  display: inherit;
}
.scene-schedule-checbox-wrap > input:checked ~ label{
  background: rgba(255, 255, 255, 0.7)url(../img/button/schedule.png) 50% 50% no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0 2em;
  box-shadow: none;
}
.assign-schedule-btn {
  background: rgba(255, 255, 255, 0.7)url(../img/button/schedule.png) 50% 50% no-repeat;
  background-size: contain;
  margin: 0;
  padding: 0 2em;
}
.new-scene-info div:first-child {
  min-width: 20em;
}
.new-scene-info-days {
  background: #112B41;
  border-radius: 0.5em;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.new-scene-day-label {
  min-width: 3em;
  height: 2.5em;
  line-height: 2.5;
  padding: 0 0.5em;
  margin: 0;
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.new-scene-sun-label {
  height: 2.5em;
  line-height: 2.5;
  padding: 0 0.75em;
  margin: 0;
  border-radius: 0.35em;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  color: #fff;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.new-scene-sun-label:hover, .new-scene-day-label:hover {
  background: rgba(255, 255, 255, 0.3);
}
.new-scene-day:checked ~ .new-scene-day-label {
  background: #21425E;
  border: 0;
  box-shadow: 0.1em 0 1em rgba(0, 0, 0, 0.3);
  ;
  -webkit-transform: scale(1.1);
  ;
  -ms-transform: scale(1.1);
  ;
  transform: scale(1.1);
  box-sizing: border-box;
}
.new-scene-sun-time:checked ~ .new-scene-sun-label {
  background: #21425E;
  box-shadow: 0.1em 0 1em rgba(0, 0, 0, 0.3);
  ;
  border: 0.1em solid rgba(255, 255, 255, 0.25);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-sizing: border-box;
}
.new-scene-sun-time:disabled ~ .new-scene-sun-label, .new-scene-day:disabled ~ .new-scene-day-label, .form-number:disabled {
  opacity: 0.35;
  cursor: no-drop;
  transition: all 0.3s ease;
}
.new-scene-selected-devices {
  max-height: 15%;
  overflow: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.new-scene-dev-btn {
  background: #234562 url(../img/button/cross-dark.png) 97% 50% no-repeat;
  color: #6EA7D8;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
  -webkit-animation: popUp 0.3s ease forwards;
  animation: popUp 0.3s ease forwards;
}
.new-scene-dev-btn:active {
  -webkit-animation: popDown 0.5s ease;
  animation: popDown 0.5s ease;
}
.new-scene-dev-btn p{
  margin-right: 1em;
}
.new-scene-devices {
  position: absolute;
  bottom: 0;
  background-color: #0F2A41;
  width: 100%;
  height: 60%;
  overflow: auto;
}
.new-scene-devices > div {
  padding: 1em;
}
