/* scenes */

.scene-box {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 10em;
  background-color: #14314A;
  border-radius: 0.35em;
  box-sizing: border-box;
  margin: 1% 5%;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.sce-box-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}
.sce-box-content img {
  max-height: 5em;
  max-width: 5em;
  margin: 0.5em;
  cursor: pointer;
}
.sce-box-content p {
  font-size: 1.1em;
  line-height: 1em;
  margin: 1em 0.5em 0 0;
  color: #fff;
}
.sce-box-footer {
  position: absolute;
  height: 2.5em;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom-left-radius: 0.35em;
  border-bottom-right-radius: 0.35em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  background-color: #21415B;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.sce-box-footer p {
  line-height: 2.5em;
  margin-left: 0.5em;
  cursor: pointer;
  color: #fff;
}
.scene-delete-btn {
  height: 1em;
  margin: auto 0.5em;
  cursor: pointer;
  opacity: 0.2;
}
.sce-box-footer:hover .scene-delete-btn {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.scene-quick-schedule-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  opacity: 0.5;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.scene-quick-schedule-btn:hover{
  opacity: 1;
}
/* END SCENE BOX CSS */

.new-scene {
  position: relative;
  color: #fff;
  background-color: #14334B;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.new-scene-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2em 1em;
}
.new-scene-nav > h3 {
  margin: 0;
}
.new-scene-make-schedule-wrap {
  position: absolute;
  right: 1em;
  top: 5em;
}
.scene-schedule-btn {
  background: url(../img/button/schedule.svg) no-repeat 50%;
  margin: 0.25em;
  opacity: 0.5;
}
#scene-schedule:checked ~ .scene-schedule-btn, .scene-schedule-btn:hover {
  background: url(../img/button/schedule.svg) no-repeat 50%;
  margin: 0.25em;
  opacity: 1;
  box-shadow: none;
}
.new-scene-form {
  background-color: inherit;
  padding: 2%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.new-scene-schedule-options {
  min-height: 12em;
}
.new-scene-selected-devices {
  margin: 1%;
}
.new-scene-devices {
  background-color: #0F2A41;
}
.scene-device-btn {
  margin: 0.25em;
  background-color: #1986D9;
  -webkit-animation: popUp 0.35s ease;
  animation: popUp 0.35s ease;
}
@media screen and (min-width: 600px) {
  .scene-box{
    width: 18em;
    margin: 1%;
  }
}
