.schedule-wrap {
  position: relative;
  background-color: #102B42;
  color: #fff;
}
.schedule-wrap p {
  margin: 1em 0.25em;
}
.schedule-wrap:nth-child(odd) {
  background-color: #133048;
}
.edit-schedule-btn {
  background: transparent url(../img/button/three-dots.png) 50% no-repeat;
  border: none;
  margin: 0.5em auto;
}
.edit-schedule-dropdown {
  background-color: #224764;
  top: 1em;
  left: -7em;
  width: 7em;
  min-width: 5em;
  text-align: left;
}
.edit-schedule-dropdown > li > a {
  color: #fff;
}
.edit-schedule-dropdown-btn {
  background-image: url(../img/button/edit.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
  border-bottom: 0.1em solid #0C253A;
}
.delete-schedule-dropdown-btn {
  background-image: url(../img/button/trash.png);
  background-position: 95% 50%;
  background-repeat: no-repeat;
}
.schedule-group {
  margin-bottom: 1em;
}
.schedule-days-wrap {
  background-color: #0D1E2E;
  border-radius: 0.5em;
  border: 0.1em solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
}
.schedule-label {
  min-width: 3em;
  height: 2.5em;
  line-height: 2.5;
  padding: 0 0.5em;
  margin: 0;
  color: #fff;
  border-bottom: 0.25em solid transparent;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.schedule-label:hover {
  background: rgba(255, 255, 255, 0.3);
}
input[type="checkbox"]:checked ~ .schedule-label {
  background: #21425E;
  border-bottom: 0.25em solid #1D83E4;
  box-shadow: 0.1em 0 1em rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  box-sizing: border-box;
}

/*
.schedule-wrap div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.schedule-wrap div p {
  line-height: 4;
}
.schedule-devices p, .schedule-days p {
  color: #0D96FF;
  line-height: 4;
  margin-right: 0.5em;
}
.schedule-edit-mode {
  margin: auto;
  -webkit-animation: expandAddCategory 0.3s ease;
          animation: expandAddCategory 0.3s ease;
}
.save-edit-schedule-btn {
  height: 2.5em;
  text-align: left;
  margin: 0 0.5em;
  background: #11599D;
}
.cancel-edit-category-btn {
  background: #295376 url(../img/button/cross-dark.png) 50% no-repeat;
  height: 2.5em;
}
*/
