/* camera directive CSS */

.camera-wrap {
  position: relative;
  background-color: #20517F;
  min-width: 18em;
  width: 90%;
  height: 10em;
  margin: 1% auto;
  color: #fff;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.3);
}
.camera-cached-tumb {
  height: 100%;
  width: 100%;
}
.camera-wrap h4 {
  position: absolute;
  left: 1em;
  bottom: 0;
  opacity: 0.4;
}
.camera-wrap:hover h4 {
  opacity: 0.9;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.camera-wrap h5 {
  margin: 1em;
  margin-bottom: 0;
}
.camera-refresh-btn {
  background: #3881C6 url(../img/button/reload.png) 95% 50% no-repeat;
  text-align: left;
  text-indent: 0.5em;
  margin: 10% 5%;
  width: 90%;
}
.camera-live-tumb-btn {
  position: absolute;
  right: 1.25em;
  bottom: 0.1em;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.camera-live-tumb-btn:hover, .camera-recording:hover {
  opacity: 0.8;
}
.camera-recording {
  position: absolute;
  right: 0;
  bottom: 0.1em;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* END */


/* cam recprodmg CSS*/

.cam-rec-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  margin: 1% auto;
  background-color: #14334B;
  color: #fff;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  text-indent: 0.25em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cam-rec-wrap > span:last-child > i {
  cursor: pointer;
  opacity: 0.55;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.cam-rec-wrap > span > i:hover {
  opacity: 1;
}

/* END */

.template-nav-toggle {
  display: inherit;
  position: relative;
}
.template-nav-toggle-btn {
  cursor: pointer;
  padding: 0 1em;
}
.active-line-indicator {
  position: absolute;
  bottom: 0;
  left: 5%;
  width: 45%;
  border: 0.1em solid #1272CD;
  box-shadow: 0.1em 0.1em 0.5em #1272CD;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.active-line-indicator.alarm-active {
  left: 60%;
  width: 35%;
}
.recorings-wrap {
  color: #fff;
  width: 100%;
}
.recorings-wrap > h3 {
  margin: 1% 0 0;
  cursor: pointer;
}
.close-live-stream-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.close-live-stream-modal:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.camera-live-stream {
  width: 100%;
}
.camera-live-stream:-webkit-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #1362AC;
  object-fit: contain;
}
.camera-live-stream:-moz-full-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #1362AC;
  object-fit: contain;
}
.camera-live-stream:-ms-fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #1362AC;
  object-fit: contain;
}
.camera-live-stream:fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #1362AC;
  -o-object-fit: contain;
  object-fit: contain;
}
.full-screen-btn {
  position: absolute;
  bottom: 0em;
  right: 0em;
  width: auto;
}
@media screen and (min-width: 768px) {
  .camera-wrap {
    width: 18em;
  }
  .cam-rec-wrap {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    height: 3em;
  }
}
@media screen and (min-width: 992px) {
  .camera-wrap {
    margin: 1%;
  }
}
@media screen and (min-width: 1200px) {}
