/* DOWNLOADS */

.downloads-title {
  background-color: #0D1E2E;
  color: #fff;
  text-align: left;
  text-indent: 2em;
  padding: 1em 0;
}
.downloads-close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}
.download-link {
  display: block;
}
.download-raspi, .download-raspi.collapsed:hover {
  background: url(../img/downloads/pi-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-raspi.collapsed {
  background: url(../img/downloads/pi.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-nas, .download-nas.collapsed:hover {
  background: url(../img/downloads/nas-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-nas.collapsed {
  background: url(../img/downloads/nas.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-win, .download-win.collapsed:hover {
  background: url(../img/downloads/win-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-win.collapsed {
  background: url(../img/downloads/win.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-generic, .download-generic.collapsed:hover {
  background: url(../img/downloads/generic-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-generic.collapsed {
  background: url(../img/downloads/generic.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-fedora, .download-fedora.collapsed:hover {
  background: url(../img/downloads/fedora-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-fedora.collapsed {
  background: url(../img/downloads/fedora.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-android, .download-android.collapsed:hover {
  background: url(../img/downloads/android-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-android.collapsed {
  background: url(../img/downloads/android.png) 5% 50% no-repeat;
  background-size: 2.5em;
}

/* GENERAL SETTINGS */

.settings-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.settings-title > a {
  color: #4D5E6E;
  padding-left: 2em;
  margin-right: 1.5em;
}
.settings-title > a > h3 {
  margin: 0;
}
.settings-active-btn {
  background-image: url(../img/button/category-active.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  color: #fff !important;
}
.settings-tab-hlp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* SERVER SETTINGS */

.settings-toggle-btns-wrap {
  position: relative;
  margin: 1em auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #356288;
  max-width: 20em;
}
.settings-toggle-btns-wrap > p {
  margin: 0 1em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.settings-toggle-btns-indicator {
  bottom: -0.5em;
  left: 5%;
  right: 45%;
  -webkit-animation: all 0.25s ease;
  animation: all 0.25s ease;
}
.slide-line-indicator {
  left: 50%;
  right: 100%;
}
.settings-content-wrap {
  margin-top: 2em;
  color: #fff;
  font-weight: 100;
}
.settings-content-wrap p, .settings-content-wrap h4 {
  margin: auto 1em;
}
.settings-row {
  padding: 1em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.settings-row:nth-child(odd) {
  background-color: #193954;
}
.settings-backup {
  padding-left: 1em;
}
.settings-box {
  background-color: #193954;
  color: #fff;
  border-radius: 0.5em;
  margin: 1em;
  padding: 1em 0;
  height: 25em;
  overflow: auto;
  text-indent: 1em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.settings-box > small {
  margin-left: 1em;
}
.settings-box-wrap {
  background-color: #193954;
  padding: 1em;
  margin-bottom: 2em;
  border-radius: 0.5em;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.settings-user-list-wrap {
  padding: 1em;
  max-height: 35em;
  overflow: auto;
}
.server-log-pre {
  margin: 0 !important;
  padding: 1.25em 0;
}
.server-log-pre:nth-child(odd) {
  background-color: #16344D;
}
.server-log-pre > span:first-child {
  margin-right: 1em;
}
.server-log-pre > span:last-child {
  float: right;
  margin-right: 1em;
}
.settings-user-list-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.settings-user-list {
  list-style: none;
  padding: 0;
}
.settings-user-list > li {
  height: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.settings-user-list > li:nth-child(odd) {
  background-color: #1A3852;
}
.settings-user-list-item {
  width: 33%;
  margin: auto;
}

/* ACCOUNT SETTINGS */

.account-user-info {
  padding: 1em;
}
.account-settings-user-info-wrap {
  background-color: #193954;
  border-radius: 0.5em;
  margin: 2em 0 1em;
  padding: 1em 0;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.5);
}
.upload-avatar {
  background: #1986D9 url(../img/button/upload-white.png) 10% 50% no-repeat;
  text-indent: 2em;
}
