/* DOWNLOADS */

.downloads-title {
  background-color: #0D1E2E;
  color: #fff;
  text-align: left;
  text-indent: 2em;
  padding: 1em 0;
}
.downloads-close-btn {
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}
.download-link {
  display: block;
}
.download-raspi, .download-raspi.collapsed:hover {
  background: url(../img/downloads/pi-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-raspi.collapsed {
  background: url(../img/downloads/pi.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-nas, .download-nas.collapsed:hover {
  background: url(../img/downloads/nas-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-nas.collapsed {
  background: url(../img/downloads/nas.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-win, .download-win.collapsed:hover {
  background: url(../img/downloads/win-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-win.collapsed {
  background: url(../img/downloads/win.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-generic, .download-generic.collapsed:hover {
  background: url(../img/downloads/generic-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-generic.collapsed {
  background: url(../img/downloads/generic.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-fedora, .download-fedora.collapsed:hover {
  background: url(../img/downloads/fedora-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-fedora.collapsed {
  background: url(../img/downloads/fedora.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-android, .download-android.collapsed:hover {
  background: url(../img/downloads/android-active.png) 5% 50% no-repeat;
  background-size: 2.5em;
}
.download-android.collapsed {
  background: url(../img/downloads/android.png) 5% 50% no-repeat;
  background-size: 2.5em;
}

/* GENERAL SETTINGS */

.settings-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.settings-title > a {
  color: #4D5E6E;
  padding-left: 2em;
  margin-right: 1.5em;
}
.settings-title > a > h3 {
  margin: 0;
}
.settings-active-btn {
  background-image: url(../img/button/category-active.png);
  background-position: 0% 50%;
  background-repeat: no-repeat;
  color: #fff !important;
}

/* SERVER SETTINGS */

.settings-toggle-btns-wrap {
  position: relative;
  margin: 1em auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #356288;
  max-width: 20em;
}
.settings-toggle-btns-wrap > p {
  margin: 0 1em;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.settings-toggle-btns-indicator {
  bottom: -0.5em;
  left: 10%;
  width: 40%;
  -webkit-animation: all 0.25s ease;
  animation: all 0.25s ease;
}
.settings-toggle-btns-indicator.user {
  left: 56%;
  width: 34%;
}
.settings-content-wrap {
  margin-top: 2em;
  color: #fff;
  font-weight: 100;
}
.settings-box-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  margin: 1em 0;
}
.settings-box {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1em 1.5em;
  margin: 0.5em;
  background-color: #1F3A50;
  color: #fff;
  min-width: 15em;
}
.server-status-btn {
  margin: 2.5em auto;
  padding: 1em;
  border-radius: 0.35em;
  background-color: #355772;
  background-repeat: no-repeat;
  background-position: 10% 50%;
  background-size: 5.5em;
  text-indent: 40%;
  text-align: left;
  animation: popUp 0.35s ease;
}
.server-status-btn.online {
  border: 0.2em solid #5FCA8F;
  background-image: url(../img/button/up-to-date.png);
}
.server-status-btn.offline {
  border: 0.2em solid #CF3437;
  background-image: url(../img/button/not-up-to-date.png);
  cursor: pointer;
}
.settings-btn {
  width: 100%;
  height: 3.5em;
  background-color: #415F77;
  background-position: 10% 50%;
  background-repeat: no-repeat;
  border: 0;
  outline: none;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.settings-btn:hover {
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  opacity: 0.9;
}
.settings-btn.location {
  background-image: url(../img/button/location.png);
}
.settings-btn.reboot {
  background-image: url(../img/button/reboot.png);
}
.settings-btn.add {
  margin: 0.1em 0;
  background-image: url(../img/button/add-server-btn.png);
}
.settings-btn.leave {
  margin: 0.1em 0;
  background-image: url(../img/button/leave-btn.png);
}
.settings-btn.delete {
  margin: 0.1em 0;
  background-image: url(../img/button/cross.png);
}
.settings-btn.delete.double-check{
  background-color: #EC3535;
}
.settings-btn.rename {
  height: auto;
}
.settings-btn.green {
  background-color: #5fca8f !important;
}
.settings-btn.blue{
  background-color: #006BB7;
}
.server-status-indicator {
  position: absolute;
  top: 1em;
  right: 1em;
}
.grow-box {
  -webkit-box-flex: 3;
  -webkit-flex-grow: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}
.no-padding {
  padding: 0;
}
.no-padding > h4 {
  padding: 1em;
}
.settings-box-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.settings-box-nav > h4, .settings-box-nav > button, .settings-box-nav > span {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.settings-box-nav > h4 {
  padding-left: 1em;
  margin: auto;
}
#change-server-name-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5em;
}
.settings-box-btn-wrap > span > label {
  margin: 0;
  text-align: center;
  line-height: 3.5;
}
.settings-backup {
  padding-left: 0.5em;
}
.server-log-list {
  list-style: none;
  padding: 0;
  margin-top: 1em;
  max-height: 20em;
  overflow: auto;
}
.server-log-li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.server-log-load-more {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.server-log-load-more > img {
  height: 1em;
  width: 1em;
  margin: auto 1em;
}
.settings-table-wrap{
  max-height: 26em;
  overflow: auto;
}
.settings-table{
  width: 100%;
}
.server-settings-form{
  display: flex;
}
.server-settings-form > button{
  height: auto;
}
/* ACCOUNT SETTINGS */

.account-settings-wrap{
  background-color: #1F3A50;
  padding: 1em;
  margin: 0.15em;
  display: inline-block;
  width: 100%;
  color: #fff;
}

.account-settings-box{
  background-color: #254259;
  margin: 0.15em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.account-settings-avatar-wrap{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #2C4B64;
  padding: 0.5em;
  padding-right: 1em;
}
.account-settings-box.notifications{
  padding: 0.5em 1em;
}
#account-settings-form > div div{
  width: 100%;
  margin: 0 0.25em;
}

.upload-avatar {
  background: #006BB7 url(../img/button/upload-white.png) 10% 50% no-repeat;
  text-indent: 4em;
  padding: 0.75em 1.5em;
  margin: 0;
  width: 100%;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .settings-box-btn-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .settings-box{
    min-width: 20em;
  }
}
@media screen and (min-width: 1200px) {
  .account-settings-wrap{
    width: 75%;
  }
}
