@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova-Semibold.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff2); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: 'ProximaNova', sans-serif;
  scrollbar-face-color: #26455F;
  scrollbar-track-color: #b7bfc7;
}
@media only screen and (min-width: 992px) {
  html, body {
    overflow: hidden;
  }
}
a, a:hover, a:active, a:focus {
  text-decoration: none;
}
hr {
  opacity: 0.1;
  margin: 0 0 1em;
}
button:focus {
  outline: 0;
}
::-webkit-scrollbar {
  width: 0.4em;
  height: 0.3em;
}
::-webkit-scrollbar-thumb {
  background: #26455F;
  height: 25%;
  width: 10%;
  border-radius: 1em;
}
::-webkit-scrollbar-track {
  background: #18334A;
}
::-webkit-resizer, ::-webkit-scrollbar-button, ::-webkit-scrollbar-corner {
  display: none;
}

/* Let's get this party started */

.button, butotn:focus {
  border-radius: 0.35em;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  height: 2.5em;
  outline: 0;
  border: 0.1em solid transparent;
  text-align: center;
  line-height: 2.5;
  padding: 0 1em;
}
.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.button:active {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0em 0.1em 0.4em #142A3E;
  color: #000;
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.form-label {
  display: block;
  margin: 0.5em 0 0 0;
  color: rgba(255, 255, 255, 0.5);
}
.form-input {
  border-radius: 0.35em;
  background-color: #0D1E2E;
  outline: none;
  color: #fff;
  text-indent: 1em;
  border: none;
  height: 2.5em;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.form-input:focus {
  box-sizing: border-box;
  box-shadow: 0.1em 0.1em 0.3em #1C4D81, -0.1em -0.1em 0.3em #1C4D81;
}
.form-input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #0D1E2E inset;
  -webkit-text-fill-color: #fff !important;
}
.form-input-true {
  background-image: url(../img/button/checked.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1em 1em;
}
.form-input-false {
  background-image: url(../img/button/cross.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 1em 1em;
}
.form-select {
  border-radius: 0.35em;
  height: 2.5em;
  width: 100%;
  background: #21425E url(../img/button/chevron-down.png) 95% 50% no-repeat;
  border: 0.1em solid #446B8D;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.form-number {
  max-width: 6em;
  height: 2.5em;
  border-radius: 0.25em;
  background: #21425E;
  border: 0.1em solid #446B8D;
  color: #fff;
  text-indent: 0.5em;
  transition: all 0.5s ease;
}
.form-number.success{
  background-color: #00E676;
}
.form-date {
  height: 2.5em;
  border-radius: 0.25em;
  background: #21425E;
  border: 0.1em solid #446B8D;
  color: #fff;
  text-indent: 0.5em;
}
.slide-toggle-wrap input {
  display: none;
}
.slide-toggle-wrap {
  position: relative;
  margin: 1em 0.65em;
}
.slide-toggle-label {
  position: absolute;
  z-index: 1;
  height: 1em;
  width: 1em;
  border-radius: 1em;
  left: 0;
  background: #3991EB !important;
  cursor: pointer;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide-toggle-line {
  position: absolute;
  height: 1em;
  width: 2.5em;
  border-radius: 1em;
  border: 0.1em solid rgba(255, 255, 255, 0.1);
  background-color: #2A4155;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide-toggle-input:checked + .slide-toggle-label {
  left: 1.5em;
  background: #fff !important;
}
.slide-toggle-input:checked ~ .slide-toggle-line {
  background-color: #3881C6;
}
.custom-input-wrap {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
input[type="checkbox"], input[type="file"], input[type="radio"] {
  display: none;
}
input[type="checkbox"]:checked ~ label {
  background: transparent url(../img/button/checked.png) center no-repeat;
  background-size: contain;
  box-shadow: 0.1em 0.1em 0.4em #1362AC, -0.1em -0.1em 0.4em #1362AC;
}
input[type="radio"]:checked ~ label {
  background: transparent url(../img/button/category-active.png) center no-repeat;
  background-size: contain;
  box-shadow: 0.1em 0.1em 0.4em #1362AC, -0.1em -0.1em 0.4em #1362AC;
}
input:disabled ~ label, input:disabled {
  opacity: 0.35;
  cursor: no-drop;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkbox-label, .radio-label {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  height: 1.5em;
  width: 1.5em;
  border-radius: 0.25em;
  border: 0.2em solid #1362AC;
  margin: 0 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.small-input-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #3E6484;
}
.template-nav {
  position: relative;
  width: 100%;
  height: 3em;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.display-devices {
  color: #7BA0BF;
  padding: 1%;
}
.display-devices > h4 {
  cursor: pointer;
}
.display-devices-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2% 1%;
}
.dashboard-display-wrap{
  position: relative;
  background-color: #0F2D45;
  border: 0.1em solid #173E5D;
  padding: 1%;
  margin: 1%;
  color: #fff;
}
.dashboard-display-wrap > button{
  position: absolute;
  top: 0;
  right: 0;
}
.add-new-btn {
  background: #1D83E4 url() 95% 50% no-repeat;
}
.google-map {
  width: 100%;
  min-height: 21em;
}
.google-map-input {
  color: #000;
}
.hidden-input {
  display: none;
}
.margin-auto {
  margin: auto;
}
.green-bg{
  background-color: #00E676;
}
.color-red {
  color: #EC3535;
}
.color-green {
  color: #00E676;
}
.color-orange {
  color: #EE8615;
}
.color-transparent {
  color: rgba(255, 255, 255, 0.4);
}
.color-blue {
  color: #2292CD;
}
.color-white {
  color: #fff !important;
}
.blue-btn {
  background-color: #1986D9;
}
.orange-btn {
  background-color: #EE8615;
}
.red-btn {
  background-color: #D50000;
}
.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.row-wrap {
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.horizontal-line {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.25);
}
.pop-up {
  -webkit-animation: popUp 0.35s ease;
  animation: popUp 0.35s ease;
}
@media screen and (min-width: 768px) {
  .display-devices-row {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
}
