<section class="custom-modal-window add-scan-camera-modal" ng-class="{'show-modal': addScanCameraCtrl.showModal}">
  <section class="custom-modal-wrap">
    <div class="add-camera-header">
      <h3 ng-show="addScanCameraCtrl.activeCam">Server found cameras</h3>
      <h3 ng-hide="addScanCameraCtrl.activeCam || addScanCameraCtrl.scaning">No cameras found</h3>
      <h3 ng-show="addScanCameraCtrl.scaning">Scaning for cameras</h3>
    </div>
    <div class="scan-canmeras-check-wrap">
      <form type="form" id="add-scan-camera-from" ng-submit="addScanCameraCtrl.addScanCameraSubmit()">
        <div class="col-md-6">
          <h3>{{addScanCameraCtrl.activeCam}}</h3>
          <div ng-show="addScanCameraCtrl.activeCam" class="col-xs-12 col-md-12">
            <input type="text" class="hidden-input">
            <input type="password" class="hidden-input">

            <label for="add-scan-camera-user" class="form-label">Username</label>
            <input type="text" id="add-scan-camera-user" class="form-input" ng-model="addScanCameraCtrl.addScanCamUser">

            <label for="add-scan-camera-password" class="form-label">Password</label>
            <input type="password" id="add-scan-camera-password" class="form-input" ng-model="addScanCameraCtrl.addScanCamPass">

            <div class="custom-input-wrap color-white">
              <small class="small-input-desc">Use for all found cameras</small>
              <div class="scan-canmeras-check-wrap">
                <input type="checkbox" id="use-data-for-all" ng-model="addScanCameraCtrl.useDataForAll">
                <label for="use-data-for-all" class="checkbox-label"></label>
              </div>
            </div>
          </div>
        </div>
        <div ng-hide="addScanCameraCtrl.activeCam || addScanCameraCtrl.scaning" class="col-xs-12 col-md-12">
          <h3>nHome didn't found any cameras, try adding them manually</h3>
        </div>
      </form>
    </div>

    <div class="add-new-footer">
      <button type="reset" class="button orange-btn" form="add-scan-camera-from">
        Cancel
      </button>

      <button ng-show="addScanCameraCtrl.activeCam" type="submit" class="button blue-btn" form="add-scan-camera-from">
        Save and Continue
      </button>
    </div>
  </section>
</section>
