[Desktop Entry]
Version=1.0
Name=NHomeServer
Comment=Nhome homeserver
Exec=node /opt/nhome/server.js
Icon=/opt/nhome/nhome.ico
Terminal=true
Type=Application
StartupNotify=false
Categories=Net;
