<% include internal_header_view.html %>
<% include internal_nav_view.html %>

<script defer id="socketio" src="/socket.io/socket.io.js"></script>

<script defer src="/js/jquery-1.11.1.min.js"></script>

<script defer src="/js/common.js"></script>
<script defer src="/js/devices.js"></script>
<script defer src="/js/dashboard.js"></script>
<script defer src="/js/remotes.js"></script>
<script defer src="/js/sensors.js"></script>
<script defer src="/js/lights.js"></script>
<script defer src="/js/switches.js"></script>
<script defer src="/js/shutters.js"></script>
<script defer src="/js/thermostats.js"></script>
<script defer src="/js/cameras.js"></script>
<script defer src="/js/color-picker.js"></script>
<script defer src="/js/jquery.ratelimit.js"></script>

<p class="hidden" id="server_offline">Selected Home Server is not currently connected</p>

<div class="block hidden dashboard_page" id="block_devices">
    <div class="block_header">Dashboard</div>
</div>

<% include internal_footer_view.html %>
