<div class="block hidden add_remote add_remote_step_1">
    <div class="block_header">Add new remote</div>
    <div class="add_remote_subtitle">Which IR device would you like to use for this remote?</div>

    <div class="add_remote_devices">
        <div>None found</div>
    </div>

    <div class="add_remote_navigation">
        <button class="cancel">Cancel</button>
        <button class="next">Next</button>
    </div>
</div>

<div class="block hidden add_remote add_remote_step_2">
    <div class="block_header">Add new remote</div>
    <div class="add_remote_subtitle">Choose remote you want to use, and name your remote</div>

    <div class="menuoption">
        <input type="text" id="remote_name" placeholder="Remote name" />
    </div>

    <div class="menuoption">
        IR output
        <select id="remote_connector">
            <option value="1:1">1:1</option>
            <option value="1:2">1:2</option>
            <option value="1:3" selected="selected">1:3</option>
        </select>
    </div>

    <div class="menuoption">
        <label for="remote_type_tv">Television</label>
        <input type="radio" name="remote_type" id="remote_type_tv" value="tv" />
    </div>

    <div class="menuoption">
        <label for="remote_type_ac">Air Conditioner</label>
        <input type="radio" name="remote_type" id="remote_type_ac" value="ac" />
    </div>

    <div class="menuoption">
        <label for="remote_type_multimedia">Multimedia</label>
        <input type="radio" name="remote_type" id="remote_type_multimedia" value="multi"  />
    </div>

    <div class="add_remote_navigation">
        <button class="back">Back</button>
        <button class="save">Save</button>
    </div>
</div>

<div class="block hidden add_remote add_remote_step_3">
    <div class="block_header">Add new remote</div>

    <p>Success</p>
    <p>Your remote has been saved, on next step please choose buttons you want to program.</p>

    <div class="add_remote_navigation">
        <button class="cancel">Cancel</button>
        <button class="next">Next</button>
    </div>
</div>

<div class="block hidden add_remote add_remote_step_4">
    <div class="block_header">Configure keys</div>
    <div class="add_remote_subtitle">Please select button you want to program</div>

    <% include remote_view.html %>

    <div class="add_remote_navigation">
        <button class="cancel">Finished</button>
    </div>
</div>

<div class="block hidden add_remote add_remote_step_5">
    <div class="block_header">Add new remote</div>
    <div class="add_remote_subtitle">Press and hold the button you want to program on your remote while aiming it directly at your IR device.</div>

    <p>Waiting for signal...</p>

    <div class="add_remote_navigation">
        <button class="back">Back</button>
        <button class="cancel">Cancel</button>
    </div>
</div>

<div class="block hidden use_remote">
    <div class="block_header">
        <span>Remote name</span>
        <div class="block_header_settings">
            <div>
                <div class="settings_config_remote">Configure keys</div>
                <div class="settings_delete_remote">Delete remote</div>
            </div>
        </div>
        <div class="block_header_close"></div>
    </div>

    <% include remote_view.html %>

</div>