<div class="block hidden edit_device set_light">
    <div class="block_header">
        <span></span>
        <div class="block_header_settings">
            <div>
            </div>
        </div>
        <div class="block_header_close"></div>
    </div>

    <div class="tabs">
        <div class="tab_color selected">COLORS</div>
        <div class="tab_white">WHITE</div>
    </div>

    <div class="set_light_color">
    
        <div class="device_icon"></div>
    
        <div class="light_color_picker"></div>
    
        <div class="menuoption">
            Saturation
            <input type="range" class="light_saturation" />
        </div>
    
        <div class="menuoption">
            Brightness
            <input type="range" class="light_brightness" />
        </div>

    </div>

    <div class="hidden set_light_white">
    
        <div class="device_icon"></div>
    
        <div class="menuoption">
            Brightness
            <input type="range" class="light_brightness" />
        </div>

        <div class="menuoption">
            Temperature
            <input type="range" class="light_temperature" />
        </div>
    </div>

</div>