<div id="nav">
<div id="navmenu">
  <% for (var link in menu) { %>
    <div id="nav_<%- link %>" <% if (page === link) { %>class="active" <% } %>>
        <div class="navicon"></div><a href="/<%- link %>"><%= menu[link] %></a>
    </div>
    <% if (link === 'devices' && page === link) { %>
        <div class="submenu" id="filter_light">
            <div class="navicon_filter"></div><a href="#lights">Light Bulbs</a>
        </div>
        <div class="submenu" id="filter_switch">
            <div class="navicon_filter"></div><a href="#switches">Switches</a>
        </div>
        <div class="submenu" id="filter_sensor">
            <div class="navicon_filter"></div><a href="#sensors">Sensors</a>
        </div>
        <div class="submenu" id="filter_remote">
            <div class="navicon_filter"></div><a href="#remotes">Remotes</a>
        </div>
        <div class="submenu" id="filter_camera">
            <div class="navicon_filter"></div><a href="#cameras">Cameras</a>
        </div>
        <div class="submenu" id="filter_shutters">
            <div class="navicon_filter"></div><a href="#shutters">Shutters</a>
        </div>
    <% } %>
  <% } %>
</div>
</div>
<div id="content">
