    <div class="add_remote_graphic tv">

        <div class="remote_key remote_key_power" data-key="POWER">POWER</div>
        <div class="remote_key remote_key_source" data-key="SOURCE">SOURCE</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_tools" data-key="TOOLS">TOOLS</div>
        <div class="remote_key remote_key_up" data-key="UP">UP</div>
        <div class="remote_key remote_key_info" data-key="INFO">INFO</div>
        <div class="remote_key remote_key_left" data-key="LEFT">LEFT</div>
        <div class="remote_key remote_key_ok" data-key="OK">OK</div>
        <div class="remote_key remote_key_right" data-key="RIGHT">RIGHT</div>
        <div class="remote_key remote_key_return" data-key="RETURN">RETURN</div>
        <div class="remote_key remote_key_down" data-key="DOWN">DOWN</div>
        <div class="remote_key remote_key_exit" data-key="EXIT">EXIT</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_volup" data-key="VOLUP">VOL +</div>
        <div class="remote_key remote_key_mute" data-key="MUTE">MUTE</div>
        <div class="remote_key remote_key_chup" data-key="CHUP">CH +</div>
        <div class="remote_key remote_key_voldown" data-key="VOLDOWN">VOL -</div>
        <div class="remote_key remote_key_menu" data-key="MENU">MENU</div>
        <div class="remote_key remote_key_chdown" data-key="CHDOWN">CH -</div>

    </div>

    <div class="add_remote_graphic ac">

        <div class="remote_key remote_key_power" data-key="POWER">POWER</div>
        <div class="remote_key remote_key_mode" data-key="MODE">MODE</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_temp_plus" data-key="-">-</div>
        <div class="remote_key remote_key_temp_minus" data-key="+">+</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_fan" data-key="FAN">FAN</div>
        <div class="remote_key remote_key_swing" data-key="SWING">SWING</div>
        <div class="remote_key remote_key_turbo" data-key="TURBO">TURBO</div>
        <div class="remote_key remote_key_sleep" data-key="SLEEP">SLEEP</div>
        <div class="remote_key remote_key_timer" data-key="TIMER">TIMER</div>
        <div class="remote_key remote_key_blow" data-key="BLOW">BLOW</div>

    </div>

    <div class="add_remote_graphic multi">

        <div class="remote_key remote_key_power" data-key="STEREO_POWER">POWER</div>
        <div class="remote_key remote_key_source" data-key="SOURCE">SOURCE</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_menu" data-key="MENU">MENU</div>
        <div class="remote_key remote_key_up" data-key="UP">UP</div>
        <div class="remote_key remote_key_display" data-key="DISPLAY">DISPLAY</div>
        <div class="remote_key remote_key_left" data-key="LEFT">LEFT</div>
        <div class="remote_key remote_key_ok" data-key="OK">OK</div>
        <div class="remote_key remote_key_right" data-key="RIGHT">RIGHT</div>
        <div class="remote_key remote_key_return" data-key="RETURN">RETURN</div>
        <div class="remote_key remote_key_down" data-key="DOWN">DOWN</div>
        <div class="remote_key remote_key_options" data-key="OPTIONS">OPTIONS</div>

        <div class="clearer"></div>
        <hr />

        <div class="remote_key remote_key_voldown" data-key="ST_VOLDO">VOL -</div>
        <div class="remote_key remote_key_mute" data-key="MUTE">MUTE</div>
        <div class="remote_key remote_key_volup" data-key="ST_VOLUP">VOL +</div>
        
        <div class="remote_key remote_key_stop" data-key="STOP">STOP</div>
        <div class="remote_key remote_key_play" data-key="PLAY">PLAY</div>
        <div class="remote_key remote_key_record" data-key="RECORD">RECORD</div>

        <div class="remote_key remote_key_x" data-key="X"><<</div>
        <div class="remote_key remote_key_x" data-key="X"><</div>
        <div class="remote_key remote_key_x" data-key="X">></div>
        <div class="remote_key remote_key_x" data-key="X">>></div>
    </div>
