<% include internal_header_view.html %>
<% include internal_nav_view.html %>

<script id="socketio" src="/socket.io/socket.io.js"></script>

<script src="/js/jquery-1.11.1.min.js"></script>

<script src="/js/common.js"></script>
<script src="/js/schedule.js"></script>

<p class="hidden" id="server_offline">Selected Home Server is not currently connected</p>

<div class="block" id="block_schedule">
    <div class="block_header">Scheduled Actions</div>

    <div class="block_body hidden no_schedule">
       <p>Currently you don't have any scheduled actions.</p>
       <p>To create your first scheduled action, click on the Add New Schedule link.<p>
    </div>

    <div class="block_body hidden has_schedule"></div>

    <p class="schedule_add">Add New Schedule</p>
</div>

<% include internal_footer_view.html %>
