<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>NHome - Camera stream</title>
    <script id="socketio" src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-1.11.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/stream.js"></script>
  </head>
  <body>
    <img id="camera" data-camera="<%= cameraid %>" alt="Loading camera stream" />
  </body>
</html>
