<% include internal_header_view.html %>
<% include internal_nav_view.html %>

<div class="block" id="block_support">
    <div class="block_header">Device support</div>
    <div class="block_body">
        <ul>
            <li>Hue lights</li>
            <li>Insteon lights</li>
            <li>LG Smart TV 2012/2013</li>
            <li>Wemo switches and motion sensors</li>
            <li>iTach IR</li>
            <li>Fibaro switches and sensors</li>
            <li>LIFX lights</li>
            <li>RaZberry switches</li>
            <li>netatmo</li>
            <li>Nest</li>
        </ul>
    </div>
</div>

<% include internal_footer_view.html %>
