<div class="alarm-device-wrap">
  <div class="alarm-header">
    <img ng-src="{{alarmCtrl.deviceIcon}}" class="device-icon" ng-click="alarmCtrl.setDeviceToAlarmCfgToggle(alarmCtrl.deviceObj.id)" title="toggle add sensor">
    <div class="alarm-header-info">
      <p>{{::alarmCtrl.deviceObj.name}}</p>
      <p>{{::alarmCtrl.deviceObj.module}}</p>
      <p>{{::alarmCtrl.deviceObj.state}}</p>
    </div>
  </div>

  <div class="alarm-footer" ng-class="{'alarm-footer-active': alarmCtrl.inAlarmConfig}" ng-click="alarmCtrl.setDeviceToAlarmCfgToggle(alarmCtrl.deviceObj.id)">
    <span class="alarm-btn" ng-show="alarmCtrl.inAlarmConfig">Sensor added</span>
    <span class="alarm-btn" ng-show="!alarmCtrl.inAlarmConfig">Add sensor</span>
  </div>
</div>
