<div class="cam-rec-wrap">
  <img ng-src="{{::camrecCtrl.deviceObj.thumbnailImg}}" />
  <i class="material-icons cam-rec-play" ng-click="camrecCtrl.requestPlayback(camrecCtrl.deviceObj)">play_circle_outline</i>
  <span class="cam-rec-info">
    <h5>{{::camrecCtrl.deviceObj.cameraName}}</h5>
    <h5>{{::camrecCtrl.deviceObj.starttime | date: 'd/MMM/yyyy HH:mm:ss'}}</h5>
  </span>
  <span class="cam-rec-actions">
    <a href="/{{::camrecCtrl.deviceObj.id}}.webm" download title="{{::(camrecCtrl.deviceObj.size / 1048576).toFixed(2)}} MB">
      <i class="material-icons">file_download</i>
    </a>
    <i class="material-icons color-red" ng-click="camrecCtrl.deleteRecording(camrecCtrl.deviceObj.id)">delete</i>
  </span>
</div>
