<div class="camera-wrap">
  <!-- thumbnail img -->
  <img ng-show="cameraCtrl.deviceObj.thumbnailImg" ng-src={{cameraCtrl.deviceObj.thumbnailImg}} class="camera-cached-tumb">
  <!-- refresh feed btn -->
  <h5 ng-show="!cameraCtrl.deviceObj.thumbnailImg">Camera not available</h5>
  <button ng-show="!cameraCtrl.deviceObj.thumbnailImg" type="button" class="button camera-refresh-btn" ng-click="cameraCtrl.refreshCameraFeed(cameraCtrl.deviceObj.id)">
    Refresh feed
  </button>
  <h4>{{::cameraCtrl.deviceObj.name}}</h4>
  <!-- favorites btn -->
  <span class="device-add-to-favorites">
    <input type="checkbox" id="add-to-favorites-{{::cameraCtrl.deviceObj.id}}" ng-model="cameraCtrl.deviceObj.favorites" ng-change="cameraCtrl.toggleDeviceFavorites(cameraCtrl.deviceObj.id, cameraCtrl.deviceObj.favorites)">
    <label for="add-to-favorites-{{::cameraCtrl.deviceObj.id}}" class="device-add-to-favorites-label" title="add to favorites"></label>
  </span>
  <!-- livestream -->
  <i class="material-icons camera-live-stream-btn" ng-show="cameraCtrl.deviceObj.thumbnailImg" ng-click="cameraCtrl.requestCameraLiveStream(cameraCtrl.deviceObj)">play_arrow</i>
  <!-- live thumbnail -->
  <i class="material-icons camera-live-tumb-btn" class="camera-live-tumb-btn" ng-click="cameraCtrl.getCameraLiveThumbnail(cameraCtrl.deviceObj.id)" title="get live thumbnail">photo_camera</i>
  <!-- recording doptions dropdown -->
  <span class="dropdown camera-dropdown-wrap">
    <i class="material-icons dropdown-toggle" data-toggle="dropdown">more_vert</i>
    <ul class = "dropdown-menu">

      <li title="turn off recording" ng-click="cameraCtrl.cameraRecordingOff(cameraCtrl.deviceObj)">
        <img src="../img/button/rec-off.png" alt="off" />
      </li>

      <li title="records only when camera detects motion" ng-class="{'green-bg': cameraCtrl.deviceObj.motion_recording}" ng-click="cameraCtrl.cameraRecordingMotion(cameraCtrl.deviceObj)">
        <img src="../img/button/rec-motion.png" alt="motion" />
      </li>

      <li title="records only when alarm is turned on and camera detects motion" ng-class="{'green-bg': cameraCtrl.deviceObj.motion_recording_if_alarm}" ng-click="cameraCtrl.cameraRecordingMotionOnAlarm(cameraCtrl.deviceObj)">
        <img src="../img/button/alarm-on.png" alt="alarm" />
      </li>
    </ul>
  </span>
</div>
