<h2 class="color-white">Settings</h2>
<div class="settings-title">
  <a ui-sref="frame.server-settings" ui-sref-active="settings-active-btn">
    <h4>Server Settings</h4>
  </a>
</div>

<div class="settings-toggle-btns-wrap">
  <p ng-click="settingsToggleBtn = false" ng-class="{'color-white' : !settingsToggleBtn}">General Settings</p>
  <div class="active-line-indicator settings-toggle-btns-indicator" ng-class="{'user' : settingsToggleBtn}"></div>
</div>

<!-- general server settings !-->
<div class="settings-content-wrap" ng-hide="settingsToggleBtn">

  <div class="settings-box-wrap">
    <div class="settings-box">
      <div>

        <h4>Serever status</h4>

        <div class="server-status-btn online" ng-hide="!server.upToDate">
          <small>Your server is currently</small>
          <p class="color-green">Up to date.</p>
        </div>

        <div class="server-status-btn offline" ng-show="!server.upToDate" ng-click="server.updateApp()">
          <small>Your server is currently</small>
          <p class="color-red">Not up to date.</p>
          <p>Update now</p>
        </div>
      </div>

      <div>

        <h5 class="color-transparent">Version:
          <span class="color-white">{{::server.serverInfoData.version}}</span>
        </h5>
        <button type="button" class="settings-btn reboot" ng-click="server.updateApp()">Reboot Server</button>
      </div>

    </div>

    <div class="settings-box">
      <div>
        <h4>Server info</h4>

        <p class="color-green server-status-indicator" ng-if="!God.serverOffline">Online</p>
        <p class="color-red server-status-indicator" ng-if="God.serverOffline">Offline</p>

        <p class="color-transparent">Ping:
          <span class="color-white">{{::server.serverInfoData.ping}}</span>
        </p>
        <p class="color-transparent">IP:
          <span class="color-white">{{::server.serverInfoData.ip}}</span>
        </p>
        <p class="color-transparent">External IP:
          <span class="color-white">{{::server.serverInfoData.external_ip}}</span>
        </p>
        <p class="color-transparent">OS:
          <span class="color-white">{{::server.serverInfoData.node_platform}}</span>
        </p>
        <p class="color-transparent">Node version:
          <span class="color-white">{{::server.serverInfoData.node_version}}</span>
        </p>
        <p class="color-transparent">Node arch:
          <span class="color-white">{{::server.serverInfoData.node_arch}}</span>
        </p>
      </div>

      <div>

        <small class="color-transparent">Recording folder size in MB</small>
        <form class="server-settings-form" ng-submit="server.setRecordingsLimit(server.serverInfoData.recording_quota)">
          <input type="number" name="record-folder-size" min="0" class="form-number" ng-model="server.serverInfoData.recording_quota" ng-class="{'success': server.setRecordingsLimitSuccess}">
          <button type="submit" name="set" class="settings-btn green">Set Limit</button>
        </form>
      </div>
    </div>

    <div class="settings-box">
      <div>

        <h4>Bridges</h4>
        <p class="server-status-indicator">{{::server.data.getBridges.length}}</p>
        <p class="color-transparent">Bridges currently on this server</p>

        <p>
          <span class="color-white" ng-repeat="bridge in server.data.getBridges">{{::bridge.name}}
            <span ng-hide="$index == server.data.getBridges.length-1">,</span>
          </span>
        </p>
      </div>

      <div>
        <small class="color-transparent">Requset PIN for smart TV login</small>
        <div class="display-flex justify-between align-end">
          <button type="button" name="pin" class="settings-btn half-width green" ng-click="server.requestPin()">PIN</button>
          <h4 class="color-green">
            {{server.loginPin}}
          </h4>
        </div>
      </div>
    </div>
  </div>

  <div class="settings-box-wrap">
    <div class="settings-box grow-box no-padding">
      <div class="settings-box-nav">
        <h4>Server Location</h4>
        <button class="settings-btn location" ng-click="server.useIpAddress()">
          Use your IP location
        </button>
      </div>
      <google-maps></google-maps>
    </div>

    <div class="settings-box no-padding">
      <h4>Server Activities</h4>
      <form type="form" id="change-server-name-form" autocomplete="off" ng-submit="server.changeServerName(server.serverInfoData.name)">
        <input type="text" id="settings-server-name" placeholder="Server name" class="form-input" ng-model="server.serverInfoData.name" required pattern=".{3,15}" title="3 to 15 characters">
        <button type="submit" class="settings-btn green rename">Rename</button>
      </form>
      <div class="settings-box-nav settings-box-btn-wrap">
        <button type="button" class="settings-btn" data-toggle="collapse" data-target="#backup">Backup</button>
        <span>
          <input type="file" id="restore-server" accept="application/json">
          <label for="restore-server" class="settings-btn green">
            Restore
          </label>
        </span>
      </div>
    </div>
  </div>

  <div id="backup" class="collapse settings-backup">
    <h4 class="color-white">Download your backup form <a id="download-backup" download="nhome-config.json">HERE</a></h4>
  </div>

  <div class="settings-box-wrap">
    <button data-toggle="collapse" data-target="#server-log" class="settings-btn">
      <h4>Server Log</h4>
    </button>

    <div class="collapse settings-box" id="server-log">
      <div class="server-log-li">
        <h5 class="color-transparent">Server Action</h5>
        <h5 class="color-transparent">Time and Date</h5>
      </div>

      <ul class="server-log-list">
        <li class="server-log-li" ng-repeat="log in server.bigData.getLog">
          <!--<span class="color-white">{{::log.name}}</span>!-->
          <p class="color-white">{{::log.msg}} </p>
          <p class="color-transparent">{{::log.time * 1000 | date: 'd/MMM/yyyy HH:mm:ss'}}</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="settings-box-wrap">
    <button data-toggle="collapse" data-target="#action-log" class="settings-btn">
      <h4>Action Log</h4>
    </button>
    <div class="collapse settings-box" id="action-log">
      <div class="server-log-li">
        <h5 class="color-transparent">Username</h5>
        <h5 class="color-transparent">Action</h5>
      </div>

      <ul class="server-log-list">
        <li class="server-log-li" ng-repeat="log in server.actionLog">
          <p class="color-white">{{::log.user}} turned
            <b ng-if="server.testRegex(log.action, 'off')" class="color-orange">OFF</b>
            <b ng-if="server.testRegex(log.action, 'on')" class="color-blue">ON</b> {{::log.device}}
          </p>
          <p class="color-white">{{::log.time | date: 'd/MMM/yyyy HH:mm:ss'}}</p>
        </li>
        <li ng-click="server.loadMoreLog()" class="button server-log-load-more">
          <p>Load more</p>
          <img src="img/button/plus-lblue.png">
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- user settings !-->
<div class="settings-content-wrap" ng-show="settingsToggleBtn">
  <div class="settings-box-wrap">
    <div class="settings-box" ng-show="server.data.getUserProfile.level === 'OWNER'">
      <h3>Invite User</h3>
      <small class="color-transparent">Invite users to your server</small>

      <form type="form" autocomplete="off" ng-submit="server.inviteUser(server.inviteEmal, server.inviteMsg, server.inviteStatus)">
        <div class="form-input-wrap">
          <label for="invite-email" class="form-label">Email</label>
          <input type="email" class="form-input" id="invite-email" name="Email" ng-model="server.inviteEmal" required>

          <label for="invite-msg" class="form-label">Short Message</label>
          <input type="text" class="form-input" id="invite-msg" name="Invite Message" ng-model="server.inviteMsg" required>

          <label for="invite-status" class="form-label">Choose Status</label>
          <select class="form-select" id="invite-status" ng-model="server.inviteStatus">
            <option value="ADMIN">Admin</option>
            <!-- <option value="OWNER">Owner</option> -->
            <!-- <option value="USER">User</option> !-->
          </select>
        </div>
        <br>
        <div class="display-flex">
          <button type="submit" class="settings-btn" ng-class="{'green': server.inviteSuccess}">
            Invite
          </button>
          <button type="reset" class="settings-btn green">
            Clear
          </button>
        </div>
      </form>
    </div>

    <div class="settings-box settings-table-wrap">
      <h3>User list</h3>

      <table class="settings-table">
        <tr class="color-transparent">
          <th>
            Email
          </th>
          <th>
            Name
          </th>
          <th>
            Staus
          </th>
        </tr>
        <tr ng-repeat="user in server.data.userList">
          <td>
            {{::user.email}}
          </td>
          <td>
            {{::user.username}}
          </td>
          <td ng-hide="server.data.getUserProfile.level === 'OWNER'">
            {{::user.level}}
          </td>
          <td ng-show="server.data.getUserProfile.level === 'OWNER'">
            <select class="form-select settings-user-list-item" ng-model="user.level" ng-change="server.changeUserLevel(user.email, user.level, $index)">
              <option value="OWNER">Owner</option>
              <option value="ADMIN">Admin</option>
              <!--<option value="USER">User</option>!-->
              <option value="DELETE" class="settings-delet-user">Delete</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
