<div class="device-wrap">
  <!-- device info -->
  <div class="device-header">
    <img ng-src="img/device/remote.png" class="device-icon">
    <div class="device-content-data">
      <p ng-bind="::sceneTvCtrl.deviceObj.name"></p>
      <p ng-bind="::sceneTvCtrl.deviceObj.type"></p>
    </div>
  </div>
  <!-- dev footer -->
  <div class="device-footer">
    <!-- quick keys -->
    <div class="device-footer-btn-wrap">
      <button class="device-btn" data-remote-key="POWER" name="remote-quick-btn">
        Power
      </button>
    </div>
    <div class="device-footer-option-wrap">
      <button class="remote-device-btn remote-device-btn-up" data-remote-key="CHUP" name="remote-quick-btn"></button>
      <button class="remote-device-btn remote-device-btn-up hidden" data-remote-key="VOLUP" name="remote-quick-btn"></button>

      <span class="remote-radio-wrap">
        <input type="radio" name="remote-ch-vol-{{::sceneTvCtrl.deviceObj.count}}" id="remote-radio-ch-{{::sceneTvCtrl.deviceObj.count}}" value="ch" ng-model="sceneTvCtrl.quickKeysRadioValue">
        <label for="remote-radio-ch-{{::sceneTvCtrl.deviceObj.count}}">CH</label>
      </span>
      <span class="remote-radio-wrap">
        <input type="radio" name="remote-ch-vol-{{::sceneTvCtrl.deviceObj.count}}" id="remote-radio-vol-{{::sceneTvCtrl.deviceObj.count}}" value="vol" ng-model="sceneTvCtrl.quickKeysRadioValue">
        <label for="remote-radio-vol-{{::sceneTvCtrl.deviceObj.count}}">Vol</label>
      </span>

      <button class="remote-device-btn remote-device-btn-down" data-remote-key="CHDOWN" name="remote-quick-btn"></button>
      <button class="remote-device-btn remote-device-btn-down hidden" data-remote-key="VOLDOWN" name="remote-quick-btn"></button>
    </div>
  </div>
</div>
